span.Pending{
	float: left;
	margin-top: 4px;
	line-height: 15px;
	background: transparent;
	color: #b52e2e;
	text-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);
	padding: 1px 8px 1px 0px;
}
div.Pending{
	padding: 6px;
	background: #f8dbdb;
	border: 1px dashed #e77776;
	color: #000000;
	margin-left: 50px;
}
ul.DataList div.Meta strong.Pending{
	color: #b73b3b;
	font-weight: normal;
}
div.Pending a{
	font-weight: bold;
}