body{background:url("images/body-background.gif") scroll repeat-x 0 0 #ffffff;font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;font-size:14px;}
h1,h2,h3,h4,h5,h6{font-family:Georgia,Times,"Times New Roman",serif;}
h2{font-size:20px;}
h3{font-size:17px;}
a{color: #009ca6;text-decoration:none;}a:hover{text-decoration:underline;}
header{height:200px;}header #header{}header #header .header-top{height:26px;}header #header .header-top .box_lenguage{text-align:right;}
header #header .header-top #top-menu ul{margin:0px;padding:0px;}header #header .header-top #top-menu ul li{float:left;padding-right:20px;}
header #header .header-middle{background-color:#00b7c6;border-top:2px solid #007081;float:left;height:127px;}header #header .header-middle h1{font-size:24px;height:43px;letter-spacing:1px;line-height:20px;margin:0;padding:31px 0 41px 120px;position:relative;text-transform:uppercase;}header #header .header-middle h1 span{font-size:19px;}
header #header .header-middle h1 img{border:0 none;float:left;height:auto;left:-17px;max-width:100%;position:absolute;top:-8px;}
header #header .header-middle .box_formlogin{margin-top:20px;}
header #header .header-middle .box_follow{margin-top:18px;}
header #header .widget-header-right{display:inline-block;margin-left:7px;float:left;width:355px;}header #header .widget-header-right:first-child{margin-left:0;}
header #header .widget-header-right .sidebar_login_links{text-align:right;}header #header .widget-header-right .sidebar_login_links li{display:inline-block;border-right:#333 solid 1px;margin-right:10px;line-height:14px;}header #header .widget-header-right .sidebar_login_links li a{display:block;margin:0px 10px 0 0;}header #header .widget-header-right .sidebar_login_links li a:hover{color:#333333;text-decoration:underline;}
header #header .widget-header-right .sidebar_login_links .logout-link,header #header .widget-header-right .sidebar_login_links .forgot-password-link{border-right:none;margin-right:0px;}header #header .widget-header-right .sidebar_login_links .logout-link a,header #header .widget-header-right .sidebar_login_links .forgot-password-link a{margin:0px;}
header #header .widget-header-right h2{font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;font-weight:bold;font-size:13px;padding-right:6px;padding-top:4px;float:left;}
header #header .widget-header-right form{float:left;}header #header .widget-header-right form .login-remember,header #header .widget-header-right form label{display:none;}
header #header .widget-header-right form p{float:left;margin:0 7px 0 0;}header #header .widget-header-right form p:last-child{margin:0;}
header #header .widget-header-right form p input{display:block;width:109px;height:20px;}
header #header .widget-header-right form p input[type=submit]{background:url("images/login-submit-button.gif") scroll no-repeat 0 0 #fbe700;border:0 none;display:block;height:25px;margin:0;padding:0;text-indent:-120px;width:60px;}
header #header .widget-header-right ul{margin:0;padding:0;display:inline-block;width:100%;}header #header .widget-header-right ul li{text-align:right;}header #header .widget-header-right ul li a{text-decoration:none;font-size:12px;color:#333;}header #header .widget-header-right ul li a:hover{color:#C4C9C5;}
header #header .widget-header-follow{display:inline-block;margin-left:7px;float:right;}header #header .widget-header-follow h2{font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;font-weight:bold;font-size:13px;padding-top:4px;}
header #header .header-bottom{margin-top:2px;}
header #header #top-nav{background-color:#ffffff;}
header #header #menu-top-manu li{float:left;}
header #header #main-menu{position:relative;height:54px;background:transparent url(images/main-menu-background.png) no-repeat 0 0;left:-10px;padding-left:10px;padding-right:10px;padding-top:10px;top:-10px;width:950px;}
header #header #menu-main-menu,header #header #menu-main-menu ul{margin:0;padding:0;list-style:none;}
header #header #menu-main-menu li{float:left;position:relative;}
header #header #menu-main-menu a{border-left:1px solid #BFAE0F;color:#333333;float:left;padding:6px 10px;text-decoration:none;font-size:13px;line-height:16px;height:32px;text-align:center;}
header #header #menu-main-menu>li:first-child>a{border:0 none;padding:6px 22px 6px 23px;}
header #header #menu-main-menu li:hover>a{color:#333;background:#fff;}
header #header #menu-main-menu ul{margin:20px 0 0 0;top:44px;left:0;z-index:100;border:1px solid #C4C9C5;display:none;position:absolute;}
header #header #menu-main-menu li:hover>ul{margin:0;display:block;}
header #header #menu-main-menu ul ul{top:-1px;left:100%;margin:0 0 0 20px;}
header #header #menu-main-menu ul li{float:none;display:block;border:0;border-top:1px solid #C4C9C5;}
header #header #menu-main-menu ul li:first-child{border:none;}
header #header #menu-main-menu ul a{background:#fff;padding:10px;height:auto;width:200px;border:0 none;text-align:left;display:block;float:none;text-transform:none;}
header #header #menu-main-menu ul a:hover{background:#fff;color:#009ca6;}
header #header #menu-main-menu .current_page_item>a,header #header #menu-main-menu .current-menu-parent>a,header #header #menu-main-menu .current_page_parent>a,header #header #menu-main-menu .current-page-ancestor>a,header #header #menu-main-menu .current_page_ancestor>a{color:#333;background:#fff;}
header #header #menu-main-menu .current_page_item:hover>a,header #header #menu-main-menu .current-menu-parent:hover>a,header #header #menu-main-menu .current_page_parent:hover>a,header #header #menu-main-menu .current-page-ancestor:hover>a,header #header #menu-main-menu .current_page_ancestor:hover>a{color:#333;background:#fff;}
header #header #menu-main-menu ul .current_page_item>a,header #header #menu-main-menu ul .current-menu-parent>a,header #header #menu-main-menu ul .current_page_parent>a,header #header #menu-main-menu ul .current-page-ancestor>a,header #header #menu-main-menu ul .current_page_ancestor>a{color:#009ca6;background:#fff;font-weight:bold;}
header #header #menu-main-menu ul .current_page_item:hover>a,header #header #menu-main-menu ul .current-menu-parent:hover>a,header #header #menu-main-menu ul .current_page_parent:hover>a,header #header #menu-main-menu ul .current-page-ancestor:hover>a,header #header #menu-main-menu ul .current_page_ancestor:hover>a{color:#009ca6;background:#fff;}
header #header #menu-main-menu li:hover ul .current_page_item>a,header #header #menu-main-menu li:hover ul .current-menu-parent>a,header #header #menu-main-menu li:hover ul .current_page_parent>a,header #header #menu-main-menu li:hover ul .current-page-ancestor>a{background:#fff;color:#009ca6;}
header #header #menu-main-menu li:hover ul .current_page_item>a:hover,header #header #menu-main-menu li:hover ul .current-menu-parent>a:hover,header #header #menu-main-menu li:hover ul .current_page_parent>a:hover,header #header #menu-main-menu li:hover ul .current-page-ancestor>a:hover{background:#fff;color:#009ca6;}
#mrdsite-1 #menu-main-menu a{padding-left:16px !important;padding-right:16px !important;font-size:12px !important;line-height:12px !important;}
#mrdsite-1 #menu-main-menu>li:first-child>a{padding-left:18px !important;padding-right:18px !important;}
#mrdsite-1 h2{font-size:19px;}
#mrdsite-2 #menu-main-menu a{padding-left:7px !important;padding-right:7px !important;font-size:12px !important;line-height:12px !important;}
#mrdsite-2 #menu-main-menu>li:first-child>a{padding-left:13px !important;padding-right:14px !important;}
#mrdsite-2 h2{font-size:19px;}
#mrdsite-3 #menu-main-menu a{padding-left:23px !important;padding-right:23px !important;}
#mrdsite-3 #menu-main-menu>li:first-child>a{padding-left:23px !important;padding-right:24px !important;}
#content h2{border-bottom:1px solid #C4C9C5;padding-bottom:10px;}
#content .latest-news{float:left;}#content .latest-news .news{border-bottom:1px solid #c8c8c8;min-height:97px;overflow:hidden;padding-left:59px;position:relative;}#content .latest-news .news:last-child{border-bottom:none;}
#content .latest-news .news .news-date{background-color:#009ca6;color:#fff;display:block;font-weight:bold;height:49px;left:0;line-height:21px;position:absolute;text-align:center;top:14px;width:49px;}#content .latest-news .news .news-date span{background-color:#fff;border-right:1px solid #c4c9c5;border-bottom:1px solid #c4c9c5;border-left:1px solid #c4c9c5;color:#333;display:block;font-size:20px;font-weight:normal;height:27px;line-height:28px;width:47px;}
#content .latest-news .news .news-content{min-height:77px;max-height:110px overflow: hidden;padding:10px 0;}#content .latest-news .news .news-content h3{margin-bottom:3px;}#content .latest-news .news .news-content h3 a{color:#009ca6;text-decoration:none;}
#content .latest-news .news .news-content p{font-size:14px;height:36px;line-height:16px;margin:0;}
#content .latest-news .news .news-content .read-more{color:#009ca6;text-decoration:none;float:left;font-size:14px;}
#home-top-left-container{border:1px solid #c4c9c5;display:block;height:319px;width:308px;float:left;}
#featured-articles .item{background-color:#fff;display:block;height:297px;width:308px;}#featured-articles .item .fa-slide-images{display:block;width:308px;height:190px;}
#featured-articles .item .info{margin:0;padding:14px 7px 7px;display:block;height:86px;width:294px;overflow-y:hidden;}#featured-articles .item .info h2{border:medium none;padding:0;margin-bottom:8px;}#featured-articles .item .info h2 a{color:#009ca6;text-decoration:none;}
#featured-articles .item .info p{font-size:15px;height:auto;line-height:16px;margin:0;}#featured-articles .item .info p a{color:#009ca6;text-decoration:none;}
#nav{background-color:#F6F6F6;border-top:1px solid #c4c9c5;display:block;height:21px;width:308px;}#nav a{float:left;display:block;width:26px;height:21px;overflow:hidden;text-decoration:none;}#nav a span{display:block;height:21px;width:25px;text-indent:-100px;}#nav a span#prev{background:url("images/slider-previous.gif") no-repeat scroll 0 0 transparent;border-right:1px solid #c4c9c5;}
#nav a span#next{background:url("images/slider-next.gif") no-repeat scroll 0 0 transparent;border-left:1px solid #c4c9c5;}
#nav ul{float:left;margin:0px auto;height:16px;width:256px;padding:3px 0 2px;text-align:center;}#nav ul li{display:inline-block;width:16px;height:16px;vertical-align:top;margin-right:2px;}#nav ul li a{display:block;float:left;font-size:10px;height:16px;line-height:15px;text-align:center;text-decoration:none;width:16px;}#nav ul li a:hover{background-color:#03859F;color:#FFFFFF;}
#nav ul li.activeSlide a{background-color:#03859F;color:#FFFFFF;}
#map-zones{border:1px solid #c4c9c5;display:block;float:left;height:319px;width:628px;}#map-zones #map{border-right:1px solid #c4c9c5;height:319px;width:414px;float:left;}
#map-zones #text{height:301px;width:188px;float:left;padding:18px 10px 0 15px;overflow-y:hidden;}#map-zones #text img{float:left;}
#map-zones #text .region-name{float:left;width:100%;margin:15px 0 10px;}
#map-zones #text .region-desc{float:left;}#map-zones #text .region-desc .label{font-weight:bold;}
#map-zones #text .region-desc .description{margin-left:10px;}
#map-zones h2{color:#009ca6;border:0;}
#home-page-left{display:block;height:594px;}#home-page-left h2{height:44px;line-height:44px;margin:0;padding:0;}
#home-page-left .statistics{float:left;}#home-page-left .statistics h2{margin-bottom:12px;}
#home-page-left .statistics .content-statistics{border:1px solid #c4c9c5;display:block;height:296px;width:468px;}
#home-page-right-top{border:1px solid #c4c9c5;display:block;height:182px;}#home-page-right-top ul{margin:0;padding:0;}#home-page-right-top ul li{border-bottom:1px solid #c4c9c5;display:inline-block;height:73px;margin-bottom:-8px;padding:9px;width:450px;}#home-page-right-top ul li h2{display:none;}
#home-page-right-top ul li a,#home-page-right-top ul li p{float:left;}
#home-page-right-top ul li .more a{border:0 none;font-family:Georgia,Times,"Times New Roman",serif;font-size:18px;margin:0;padding:1px 0 0 14px;width:316px;}
#home-page-right-top .textwidget{height:91px;}
#content .home-page-right-bottom h2{padding:5px 0 5px 35px;margin:0;}
.home-page-right-bottom{border:1px solid #c4c9c5;}.home-page-right-bottom.top div{overflow:auto;}
.home-page-right-bottom.top h2{background-position:7px 7px;}
.home-page-right-bottom.top h3{background:transparent url(images/icon-q.png) no-repeat 0 0;padding-left:28px;padding-top:4px;padding-bottom:4px;font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;font-size:14px;}
.home-page-right-bottom.top p{background:transparent url(images/icon-a.png) no-repeat 0 4px;padding-left:28px;padding-top:4px;}
.home-page-right-bottom .icon-forum{background:transparent url(images/icons.png) no-repeat 0 -97px;padding-left:20px;}
.home-page-right-bottom h2{background:transparent url(images/icons.png) no-repeat 7px -42px;}
.home-page-right-bottom img{float:left;margin-right:10px;margin-bottom:10px;}
.home-page-right-bottom .featured-question-content{padding:10px;overflow:auto;}
.home-page-right-bottom .featured-question-total{background-color:#f6f6f6;text-align:right;border-top:1px solid #c4c9c5;height:30px;line-height:30px;padding:0 10px;}
.margin-bottom-12{margin-bottom:12px;}
.margin-bottom-24{margin-bottom:24px;}
.tweet_area li{font-family:arial;font-size:12px;line-height:18px;}.tweet_area li a{color:#009ca6;text-decoration:none;}
.tweet_area li .tweet-date{color:#009ca6;}
footer{float:left;padding:0 0 30px;}footer ul.menu{float:left;margin:0;padding:0;}footer ul.menu>li.menu-item{color:#009ca6;float:left;line-height:18px;text-decoration:none;}footer ul.menu>li.menu-item>a{color:#009ca6;display:block;font-size:14px;max-height:35px;min-height:35px;overflow:hidden;text-decoration:none;}
footer ul.menu>li.menu-item ul.sub-menu{line-height:18px;list-style:none outside none;padding:0;}footer ul.menu>li.menu-item ul.sub-menu li{background:url("images/footer-arrow-list.gif") no-repeat scroll 2px 3px #ffffff;padding-left:10px;}footer ul.menu>li.menu-item ul.sub-menu li:first-child{margin-top:10px;}
footer ul.menu>li.menu-item ul.sub-menu li a{color:#333;font-size:12px;text-decoration:none;}footer ul.menu>li.menu-item ul.sub-menu li a:hover{color:#009ca6;}
footer .footer-menu{border-top:1px solid #c4c9c5;padding-top:24px;}
footer .brand-link{border-top:1px solid #c4c9c5;font-size:12px;padding-top:12px;}footer .brand-link a{color:#989898;text-decoration:none;}
footer .brand-link div:last-child{text-align:right;}
.logged-in header #header .header-middle .box_follow{margin-top:0px;}
.logged-in header #header .header-middle .box_formlogin .widget-header-right h2{float:right;}
.logged-in header #header .header-middle .box_formlogin .widget-header-right .avatar_container{float:right;margin-right:10px;}
#homepage-banners{margin-top:10px;position:relative;width:950px !important;}#homepage-banners .nav-left,#homepage-banners .nav-right{width:28px;height:139px;border:1px solid #c8c8c8;position:absolute;text-decoration:none;z-index:2;}
#homepage-banners .nav-left{top:0;left:0;background:#f6f6f6 url(images/nav-left.png) no-repeat center center;}
#homepage-banners .nav-right{top:0;right:0;background:#f6f6f6 url(images/nav-right.png) no-repeat center center;}
#homepage-banners ul{padding:7px 34px !important;border:1px solid #c8c8c8;background-color:#f6f6f6;float:left;}#homepage-banners ul li{float:left;margin:0 5px;line-height:normal;width:210px;height:125px;text-align:center;}
body{background:none;}body h1,body h2,body h3,body h4,body h5,body h6,body a{color:#C0C0C0;}
body header,body #sidebar-blog,body footer .footer-menu{display:none;}
