/*
Theme Name:     Kazakhstan Ministry of Regional Development
Theme URI:      http://inqbation.com/
Description:    Child theme for qProject
Author:         inQbation
Author URI:     http://inqbation.com/
Template:       qproject
Version:        0.1.0
*/

body {
  background: url("images/body-background.gif") scroll repeat-x 0 0 #ffffff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Georgia, Times, "Times New Roman", serif;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 17px;
}
a {
  color: /*#009ca6*/ #009ca6;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/********************************************************
 * Header
 ********************************************************/
header {
  height: 200px;
}
header #header {
  /*nav {
      /*background-color: #fbe700;
      position: relative;

      #menu-main-menu {
        float: left;
        max-height: 44px;
        overflow: hidden;
        padding: 0;

        li {
            background-color: #FBE700;
            border-right: 1px solid #BDA60F;
            float: left;
            height: 39px;
            line-height: 16px;
            max-width: 92px;
            padding: 5px 10px 0;
            text-align: center;

            &:first-child{
                padding-left: 11px;
            }

            &:last-child{
                border: none;
                padding-right: 11px;
            }

            &.current-menu-item, &:hover{
                background-color: #fff;
            }

            a{
                color: #333;
                font-size: 13px;
                text-decoration: none;

            }

            ul.sub-menu{
                display: none;
            }
        }
      }
    }*/

  /* -----------------------------------------
       Navigation
    ----------------------------------------- */

}
header #header .header-top {
  height: 26px;
}
header #header .header-top .box_lenguage {
  text-align: right;
}
header #header .header-top #top-menu ul {
  margin: 0px;
  padding: 0px;
}
header #header .header-top #top-menu ul li {
  float: left;
  padding-right: 18px;
}
header #header .header-middle {
  background-color: #00b7c6;
  border-top: 2px solid #007081;
  float: left;
  height: 127px;
}
header #header .header-middle h1 {
  font-size: 24px;
  height: 43px;
  letter-spacing: 1px;
  line-height: 20px;
  margin: 0;
  padding: 31px 0 41px 120px;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
}
header #header .header-middle h1 span {
  font-size: 19px;
}
header #header .header-middle h1 img {
  border: 0 none;
  float: left;
  height: auto;
  left: -17px;
  max-width: 100%;
  position: absolute;
  top: -8px;
}
header #header .header-middle .box_formlogin {
  margin-top: 16px;
}
header #header .header-middle .box_formlogin .avatar_container{
  display: none;
}
header #header .header-middle .box_follow {
  /*margin-top: 18px;*/
  /*padding-left: 166px;*/
}
header #header .header-middle .box_follow div{
  float: right;
}
header #header .widget-header-right {
  display: inline-block;
  margin-left: 7px;
  float: left;
  width: 355px;
}
header #header .widget-header-right:first-child {
  margin-left: 0;
}
header #header .widget-header-right .sidebar_login_links {
  text-align: right;
}
header #header .widget-header-right .sidebar_login_links li {
  display: inline-block;
  border-right: #333 solid 1px;
  margin-right: 10px;
  line-height: 14px;
}
header #header .widget-header-right .sidebar_login_links li a {
  display: block;
  margin: 0px 10px 0 0;
}
header #header .widget-header-right .sidebar_login_links li a:hover {
  color: #333333;
  text-decoration: underline;
}
header #header .widget-header-right .sidebar_login_links .logout-link,
header #header .widget-header-right .sidebar_login_links .forgot-password-link {
  border-right: none;
  margin-right: 0px;
}
header #header .widget-header-right .sidebar_login_links .logout-link a,
header #header .widget-header-right .sidebar_login_links .forgot-password-link a {
  margin: 0px;
}
header #header .widget-header-right h2 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 13px;
  padding-right: 6px;
  padding-top: 4px;
  float: left;
}
header #header .widget-header-right form {
  float: left;
}
header #header .widget-header-right form .login-remember,
header #header .widget-header-right form label {
  display: none;
}
header #header .widget-header-right form p {
  float: left;
  margin: 0 7px 0 0;
}
header #header .widget-header-right form p:last-child {
  margin: 0;
}
header #header .widget-header-right form p input {
  display: block;
  width: 109px;
  height: 20px;
}
#mrdsite-2 header #header .widget-header-right form p input[type=submit] {
  background: url("images/login-submit-button2.gif") scroll no-repeat -8px 0 #fbe700;
  width: 78px;
  text-indent: -132px;
}
#mrdsite-2 header #header .widget-header-right form p {
  float: left;
  margin: 0 1px 0 0;
}
#mrdsite-2 header #header .widget-header-right h2{
  padding-right: 1px;
}
#mrdsite-1 header #header .widget-header-right form p input[type=submit] {
  background: url("images/login-submit-button3.gif") scroll no-repeat 0 0 #fbe700;
}
#mrdsite-3 header #header .widget-header-right form p input[type=submit] {
  background: url("images/login-submit-button.gif") scroll no-repeat 0 0 #fbe700;
}

header #header .widget-header-right form p input[type=submit] {
  border: 0 none;
  display: block;
  height: 25px;
  margin: 0;
  padding: 0;
  text-indent: -120px;
  width: 60px;
}
header #header .widget-header-right ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
}
header #header .widget-header-right ul li {
  text-align: right;
}
header #header .widget-header-right ul li a {
  text-decoration: none;
  font-size: 12px;
  color: #333;
}
header #header .widget-header-right ul li a:hover {
  color: #C4C9C5;
}
header #header .widget-header-follow {
  display: inline-block;
  /*margin-left: 6px;
  float: right;*/
}
header #header .widget-header-follow a{
  margin-left: 6px;
  
}

header #header .widget-header-follow h2 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 13px;
  padding-top: 4px;
  text-align: right;
  width: 185px;
}
/*Search box*/
header #header .screen-reader-text {
	display: none;
}
header #header .header-bottom {
 	margin-top: 2px;
}
/*---------------------------SEARCH & SHARE----------------------------*/
.box_search{
	float: left;
	margin-left: 120px;
}
.box_search #searchform{
	background: #FFF;
	border: 2px solid #87A9AC;
}
.box_search input[type=text]{
	border:none;
	height:22px;
	width: 130px;
  outline: 0;
  padding-left: 2px;
}
.box_search input#searchsubmit{
	background: #FFF url(images/search-icon.jpg);
	border: none;
	height:24px;
	margin: 1px;
	text-indent:-9999px;
	width:24px;
}
.box_follow{
	float: left;
	width:184px;
}
/*--------------------------- END SEARCH & SHARE----------------------------*/
header #header #top-nav {
  background-color: #ffffff;
}
header #header #menu-top-manu li {
  float: left;
}
header #header #main-menu {
  position: relative;
  height: 54px;
  background: transparent url(images/main-menu-background.png) no-repeat 0 0;
  left: -10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  top: -10px;
  width: 950px;
}
header #header #menu-main-menu,
header #header #menu-main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
header #header #menu-main-menu li {
  float: left;
  position: relative;
}
header #header #menu-main-menu a {
  border-left: 1px solid #BFAE0F;
  color: #333333;
  float: left;
  padding: 6px 10px;
  text-decoration: none;
  font-size: 13px;
  line-height: 16px;
  height: 32px;
  text-align: center;
}
header #header #menu-main-menu > li.first-child > a {
  border: 0 none;
  padding: 6px 22px 6px 23px;
}
header #header #menu-main-menu li.hover > a {
  color: #333;
  background: #fff;
}
header #header #menu-main-menu ul {
  margin: 20px 0 0 0;
  top: 44px;
  left: 0;
  z-index: 100;
  border: 1px solid #C4C9C5;
  display: none;
  position: absolute;
}
header #header #menu-main-menu li.hover > ul {
  margin: 0;
  display: block;
}
header #header #menu-main-menu ul ul {
  top: -1px;
  left: 100%;
  margin: 0 0 0 20px;
}
header #header #menu-main-menu ul li {
  float: none;
  display: block;
  border: 0;
  border-top: 1px solid #C4C9C5;
}
header #header #menu-main-menu ul li:first-child {
  border: none;
}
header #header #menu-main-menu ul a {
  background: #fff;
  padding: 10px;
  height: auto;
  width: 200px;
  border: 0 none;
  text-align: left;
  display: block;
  float: none;
  text-transform: none;
}
header #header #menu-main-menu ul a.hover {
  background: #fff;
  color: #009ca6;
}
header #header #menu-main-menu .current_page_item > a,
header #header #menu-main-menu .current-menu-parent > a,
header #header #menu-main-menu .current_page_parent > a,
header #header #menu-main-menu .current-page-ancestor > a,
header #header #menu-main-menu .current_page_ancestor > a {
  color: #333;
  background: #fff;
}
header #header #menu-main-menu .current_page_item.hover > a,
header #header #menu-main-menu .current-menu-parent.hover > a,
header #header #menu-main-menu .current_page_parent.hover > a,
header #header #menu-main-menu .current-page-ancestor.hover > a,
header #header #menu-main-menu .current_page_ancestor.hover > a {
  color: #333;
  background: #fff;
}
header #header #menu-main-menu ul .current_page_item > a,
header #header #menu-main-menu ul .current-menu-parent > a,
header #header #menu-main-menu ul .current_page_parent > a,
header #header #menu-main-menu ul .current-page-ancestor > a,
header #header #menu-main-menu ul .current_page_ancestor > a {
  color: #009ca6;
  background: #fff;
  font-weight: bold;
}
header #header #menu-main-menu ul .current_page_item.hover > a,
header #header #menu-main-menu ul .current-menu-parent.hover > a,
header #header #menu-main-menu ul .current_page_parent.hover > a,
header #header #menu-main-menu ul .current-page-ancestor.hover > a,
header #header #menu-main-menu ul .current_page_ancestor.hover > a {
  color: #009ca6;
  background: #fff;
}
header #header #menu-main-menu li.hover ul .current_page_item > a,
header #header #menu-main-menu li.hover ul .current-menu-parent > a,
header #header #menu-main-menu li.hover ul .current_page_parent > a,
header #header #menu-main-menu li.hover ul .current-page-ancestor > a {
  background: #fff;
  color: #009ca6;
}
header #header #menu-main-menu li.hover ul .current_page_item > a.hover,
header #header #menu-main-menu li.hover ul .current-menu-parent > a.hover,
header #header #menu-main-menu li.hover ul .current_page_parent > a.hover,
header #header #menu-main-menu li.hover ul .current-page-ancestor > a.hover {
  background: #fff;
  color: #009ca6;
}
#mrdsite-1 .header-middle .title-line-1{
	letter-spacing: 0;
}
#mrdsite-1 #menu-main-menu a {
  padding-left: 15px !important;
  padding-right: 14px !important;
  font-size: 12px !important;
  line-height: 12px !important;
}
/*#mrdsite-1 #menu-main-menu > li:first-child > a {
  padding-left: 18px !important;
  padding-right: 18px !important;
}*/
#mrdsite-1 h2 {
  font-size: 19px;
}
#mrdsite-2 #menu-main-menu a {
  padding-left: 7px !important;
  padding-right: 7px !important;
  font-size: 12px !important;
  line-height: 12px !important;
}
#mrdsite-2 #menu-main-menu > li:first-child > a {
  padding-left: 13px !important;
  padding-right: 14px !important;
}
#mrdsite-2 h2 {
  font-size: 19px;
}
#mrdsite-3 #menu-main-menu a {
  padding-left: 23px !important;
  padding-right: 23px !important;
}
#mrdsite-3 #menu-main-menu > li:first-child > a {
  padding-left: 23px !important;
  padding-right: 23px !important;
}
/********************************************************
 * Content
 ********************************************************/
#content h2 {
  border-bottom: 1px solid #C4C9C5;
  padding-bottom: 10px;
}
#content .latest-news {
  float: left;
  margin-bottom: 20px;
}
#content .latest-news .view-all {
  float: right;
  font-size: 14px;
}
#content .latest-news .news {
  border-bottom: 1px solid #c8c8c8;
  min-height: 97px;
  overflow: hidden;
  padding-left: 59px;
  position: relative;
}
#content .latest-news .news:last-child {
  border-bottom: none;
}
#content .latest-news .news .news-date {
  background-color: #009ca6;
  color: #fff;
  display: block;
  font-weight: bold;
  height: 49px;
  left: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 14px;
  width: 49px;
}
#content .latest-news .news .news-date span {
  background-color: #fff;
  border-right: 1px solid #c4c9c5;
  border-bottom: 1px solid #c4c9c5;
  border-left: 1px solid #c4c9c5;
  color: #333;
  display: block;
  font-size: 20px;
  font-weight: normal;
  height: 27px;
  line-height: 28px;
  width: 47px;
}
#content .latest-news .news .news-date.news-order-1 {
  background-color: #f9a400 !important;
  color: #000 !important;
}
#content .latest-news .news .news-date.news-order-2 {
  background-color: #f9e000 !important;
  color: #000 !important;
}
#content .latest-news .news .news-date.news-order-3 {
  background-color: #00c9d9 !important;
  color: #000 !important;
}
#content .latest-news .news .news-date.news-order-4 {
  background-color: #009ca6 !important;
  color: #000 !important;
}
#content .latest-news .news .news-content {
  min-height: 77px;
  max-height: 116px;
  overflow: hidden;
  padding: 10px 0;
}
#content .latest-news .news .news-content h3 {
  margin-bottom: 10px;
}
#content .latest-news .news .news-content h3 a {
  color: #009ca6;
  text-decoration: underline;
}
#content .latest-news .news .news-content p {
  font-size: 14px;
  /*height: 36px;*/
  line-height: 16px;
  margin: 0;
}
#mrdsite-2 #content .latest-news .news .news-content p {
  font-size: 14px;
  /*height: 46px;*/
  line-height: 16px;
  margin: 0;
}
#content .latest-news .news .news-content .read-more {
  color: #009ca6;
  text-decoration: none;
  float: left;
  font-size: 14px;
  margin-bottom: 10px;
}
/********************************************************
 * Featured Articles Slider in HomePage
 ********************************************************/
#home-top-left-container {
  border: 1px solid #c4c9c5;
  display: block;
  height: 319px;
  width: 308px;
  float: left;
}
#featured-articles .item {
  background-color: #fff;
  display: block;
  height: 297px;
  width: 308px;
}
#featured-articles .item .fa-slide-images {
  display: block;
  width: 308px;
  height: 190px;
}
#featured-articles .item .info {
  margin: 0;
  padding: 7px 7px 7px;
  display: block;
  height: 86px;
  width: 294px;
  overflow-y: hidden;
  /*overflow: auto;*/

}
#featured-articles .item .info h2 {
  border: medium none;
  padding: 0;
  margin-bottom: 8px;
}
#featured-articles .item .info h2 a {
  color: #009ca6;
  text-decoration: none;
  /*text-transform: capitalize;*/

}
#featured-articles .item .info p {
  font-size: 15px;
  height: auto;
  line-height: 16px;
  margin: 0;
}
#featured-articles .item .info p a {
  color: #009ca6;
  text-decoration: none;
}
#nav {
  background-color: #F6F6F6;
  border-top: 1px solid #c4c9c5;
  display: block;
  height: 21px;
  width: 308px;
}
#nav a {
  float: left;
  display: block;
  width: 26px;
  height: 21px;
  overflow: hidden;
  text-decoration: none;
}
#nav a span {
  display: block;
  height: 21px;
  width: 25px;
  text-indent: -100px;
}
#nav a span#prev {
  background: url("images/slider-previous.gif") no-repeat scroll 0 0 transparent;
  border-right: 1px solid #c4c9c5;
}
#nav a span#next {
  background: url("images/slider-next.gif") no-repeat scroll 0 0 transparent;
  border-left: 1px solid #c4c9c5;
}
#nav ul {
  float: left;
  margin: 0px auto;
  height: 16px;
  width: 256px;
  padding: 3px 0 2px;
  text-align: center;
}
#nav ul li {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: top;
  margin-right: 2px;
}
#nav ul li a {
  display: block;
  float: left;
  font-size: 10px;
  height: 16px;
  line-height: 15px;
  text-align: center;
  text-decoration: none;
  width: 16px;
}
#nav ul li a.hover {
  background-color: #03859F;
  color: #FFFFFF;
}
#nav ul li.activeSlide a {
  background-color: #03859F;
  color: #FFFFFF;
}
#map-zones {
  border: 1px solid #c4c9c5;
  display: block;
  float: left;
  height: 319px;
  width: 628px;
  position: relative;
}
#map-zones #map {
  border-right: 1px solid #c4c9c5;
  height: 319px;
  width: 414px;
  float: left;
}
#map-zones #text {
  height: 301px;
  width: 188px;
  float: left;
  padding: 14px 10px 0 15px;
  /*overflow: auto;*/

  overflow-y: hidden;
}
#map-zones #text img {
  float: left;
}
#map-zones #text .region-name {
  float: left;
  width: 100%;
  margin: 5px 0 10px;
}
#map-zones #text .region-desc {
  float: left;
}
#map-zones #text .region-desc .label {
  font-weight: bold;
}
#map-zones #text .region-desc .description {
  margin-left: 10px;
}
#map-zones h2 {
  color: #009ca6;
  border: 0;
}
#home-page-left {
  display: block;
  height: 594px;
}
#home-page-left h2 {
  height: 44px;
  line-height: 44px;
	margin: 5px 0 5px;
	padding-bottom: 14px;
}
#home-page-left .statistics {
  float: left;
}
#home-page-left .statistics h2 {
  margin-bottom: 12px;
}
#home-page-left .statistics li{
  list-style: none;
}
#home-page-right-top {
  border: 1px solid #c4c9c5;
  display: block;
  height: 182px;
}
#home-page-right-top ul {
  margin: 0;
  padding: 0;
}
#home-page-right-top ul li {
  border-bottom: 1px solid #c4c9c5;
  display: inline-block;
  height: 73px;
  margin-bottom: -8px;
  padding: 9px;
  width: 450px;
  /*h2 {
                color: #009ca6;
                border: 0 none;
                float: right;
                font-size: 18px;
                margin: 0;
                padding: 15px 0 0 14px;
                width: 316px;
            }*/

}
#home-page-right-top ul li h2 {
  display: none;
}
#home-page-right-top ul li a,
#home-page-right-top ul li p {
  float: left;
}
#home-page-right-top ul li .more a {
  border: 0 none;
  font-family: Arial, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  margin: 0;
  padding: 1px 0 0 14px;
  width: 316px;
}
#home-page-right-top .textwidget {
  height: 91px;
}
#content .home-page-right-bottom h2 {
  padding: 5px 0 5px 35px;
  margin: 0;
}
.home-page-right-bottom {
  border: 1px solid #c4c9c5;
  margin-bottom: 12px;
}
.home-page-right-bottom ul{
	padding: 0;
}
.home-page-right-bottom.top div {
  overflow: auto;
}
.home-page-right-bottom.top h2 {
  background-position: 7px 7px;
}
.home-page-right-bottom.top h3 {
  background: transparent url(images/icon-q.png) no-repeat 0 0;
  padding-left: 28px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
}
.home-page-right-bottom.top p {
  background: transparent url(images/icon-a.png) no-repeat 0 4px;
  padding-left: 28px;
  padding-top: 4px;
}
.home-page-right-bottom .icon-forum {
  background: transparent url(images/icons.png) no-repeat 0 -97px;
  padding-left: 20px;
}
.home-page-right-bottom h2 {
  background: transparent url(images/icons.png) no-repeat 7px -42px;
}
.home-page-right-bottom img {
/*  float: left;
  margin-right: 10px;
  margin-bottom: 10px;*/
}
.home-page-right-bottom .featured-question-content {
  padding: 10px;
  overflow: auto;
}
.home-page-right-bottom .featured-question-total {
  background-color: #f6f6f6;
  text-align: right;
  border-top: 1px solid #c4c9c5;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}
.home-page-right-bottom .featured-question-banner li{
  list-style: none;
}
.margin-bottom-12 {
  margin-bottom: 12px;
}
.margin-bottom-24 {
  margin-bottom: 24px;
}
/********************************************************
 * Twitter Feeds
 ********************************************************/
.tweet_area li {
  font-family: Arial;
  font-size: 0.9em;
  line-height: 18px;
}
.tweet_area li a {
  color: #009ca6;
  text-decoration: none;
}
.tweet_area li .tweet-date {
  color: #009ca6;
}
/********************************************************
 * Footer
 ********************************************************/
footer {
  float: left;
  padding: 0 0 30px;
  /*nav {
      #menu-main-menu-main-menu-1 {
        >.menu-item {
          font-family: @georgia;

          &:first-child, &:last-child {
            display: none;
          }
        }
      }
    }*/

}
footer ul.menu {
  float: left;
  margin: 0;
  padding: 0;
}
footer ul.menu > li.menu-item {
  color: #009ca6;
  float: left;
  line-height: 18px;
  text-decoration: none;
  /*&:first-child, &:last-child{
                display: none;
            }*/
 text-align: center;
 width: 96px;
}
footer ul.menu > li.menu-item > a {
  color: #009ca6;
  display: block;
  font-size: 14px;
  max-height: 35px;
  min-height: 35px;
  overflow: hidden;
  text-decoration: none;
}
footer ul.menu > li.menu-item ul.sub-menu {
  line-height: 18px;
  list-style: none outside none;
  padding: 0;
}
footer ul.menu > li.menu-item ul.sub-menu li {
  background: url("images/footer-arrow-list.gif") no-repeat scroll 2px 3px #ffffff;
  padding-left: 10px;
}
footer ul.menu > li.menu-item ul.sub-menu li:first-child {
  margin-top: 10px;
}
footer ul.menu > li.menu-item ul.sub-menu li a {
  color: #333;
  font-size: 12px;
  text-decoration: none;
}
footer ul.menu > li.menu-item ul.sub-menu li a.hover {
  color: #009ca6;
}
footer .footer-menu {
  border-top: 1px solid #c4c9c5;
  padding-top: 24px;
}
#mrdsite-2 footer #menu-footer-menu li{
  width: 122px;
  margin-left: 2px;
  margin-right: 2px;
}
#mrdsite-2 footer #menu-footer-menu li a{
  overflow: none !important;
  max-height: none !important;
}
#mrdsite-2 footer #menu-item-215, #mrdsite-2 footer #menu-item-216, #mrdsite-2 footer #menu-item-221, #mrdsite-2 footer #menu-item-2043, #mrdsite-2 footer #menu-item-2123 {
  width: auto !important;
}
#menu-item-219 {
  width: 94px !important;
}
footer .brand-link {
  border-top: 1px solid #c4c9c5;
  font-size: 12px;
  padding-top: 12px;
}
footer .brand-link a {
  color: #989898;
  text-decoration: none;
}
footer .brand-link div:last-child {
  text-align: right;
}
.logged-in header #header .header-middle .box_follow {
  margin-top: 0px;
}
.logged-in header #header .header-middle .box_formlogin .widget-header-right h2 {
  float: right;
}
.logged-in header #header .header-middle .box_formlogin .widget-header-right .avatar_container {
  float: right;
  margin-right: 10px;
}
#homepage-banners, #region-banners {
  margin-top: 10px;
  position: relative;
}
#homepage-banners{
	width: 950px !important;
}
#region-banners{
	margin-bottom: 20px;
	width: 628px !important;
}
#homepage-banners .nav-left, #region-banners .nav-left,
#homepage-banners .nav-right,  #region-banners .nav-right{
  width: 28px;
  height: 139px;
  border: 1px solid #c8c8c8;
  position: absolute;
  text-decoration: none;
  z-index: 2;
}
#homepage-banners .nav-left, #region-banners .nav-left {
  top: 0;
  left: 0;
  background: #f6f6f6 url(images/nav-left.png) no-repeat center center;
}
#homepage-banners .nav-right, #region-banners .nav-right {
  top: 0;
  right: 0;
  background: #f6f6f6 url(images/nav-right.png) no-repeat center center;
}
#homepage-banners ul, #region-banners ul {
  padding: 7px 34px !important;
  border: 1px solid #c8c8c8;
  background-color: #f6f6f6;
  float: left;
}
#homepage-banners ul li, #region-banners ul li {
  float: left;
  margin: 0 5px;
  line-height: normal;
  width: 210px;
  height: 125px;
  text-align: center;
}
#region-banners ul li{
	width: 177px !important;
}
#wp-calendar tfoot{
	/*display: none;*/
}
#wp-calendar caption{
	background-color: #007081;
}
#wp-calendar caption #prev{
  float: left;
  padding-left: 10px;
}
#wp-calendar caption #next{
  float: right;
  padding-right: 10px;
}
#wp-calendar caption #prev, #wp-calendar caption #next{
  width: 20%;
}
#wp-calendar caption #prev a, #wp-calendar caption #next a {
  color: #FFF; 
}
#wp-calendar th{
	background-color: #009ca6;/*#00b7c6*/
	border-right: 1px solid #00b7c6;
}
#wp-calendar tbody a{
	color: #FF0000;
}
.blog .container_24 .content-wrapper #qproject-blog-content article .title {
	text-decoration: underline;
}
img.alignleft{
	float: left;
	margin-right: 10px;
}
#commentform label {
	width: 95px;
	float: left;
}
#commentform #submit{
	margin-left: 92px;
}
.widget.widget_search {
	margin-bottom: 20px;
}
#sidebar-blog li{
	list-style: none;
}
.post .info {
margin-bottom: 20px;
}
#comments {
	margin-top: 30px;
}
#mobile {
	float: left;
	margin-top: 2px;
	width: 16px;
	height: 22px;
	padding-left: 5px;
}
.youtube-video {
	margin: 10px;
}
.youtube-video div {
	width: 149px;
	display: inline-block;
	vertical-align: top;
}
.widget_recent_entries li {
	border-bottom: 1px solid #ddd;
	padding-bottom: 2px;
}
#menu-trigger {
	display: none;
}
#sitemap .menu-item{
	list-style-type: circle;
}
#sitemap .menu-item .sub-menu li{
	list-style-type: disc;
}
#sitemap .menu-item .sub-menu li .sub-menu li{
	list-style-type: square;
}
.quick-flickr-item {
	display: inline-block;
	margin: 10px 5px;
}
.quick-flickr-item img {
	height: 130px;
	width: 145px;
}
.fixedly-slider {
	border: 2px solid #c8c8c8 !important;
	-moz-box-shadow: 0 0 0 0 #dddddd !important;
	-webkit-box-shadow: 0 0 0 0 #dddddd !important;
	box-shadow: 0 0 0 0 #dddddd !important;
  margin: 0 !important;
}
.fixedly-pager {
	background: #f6f6f6;
	border: 1px solid #c8c8c8 !important;
	height: 88px !important;
}
.fixedly-pager li {
	margin: 0 5px 10px 0 !important;
	height: 50px !important;
}
.fixedly-pager img{
	height: 80px;
}
.fixedly-nav-next, .fixedly-nav-prev{
	background-color: #FFF !important;
	opacity: 0.5;
	filter:alpha(opacity=50);
	z-index: 100;
	border: 1px solid #000 !important;
}
.fixedly-nav-next a, .fixedly-nav-prev a{
	color: #000;
}
.fixedly-nav-next{
	right: 7px !important;
}
.fixedly-nav-prev{
	left: 7px !important;
}
.zframe-flickr-wrap-ltr {
	padding: 18px 0 0 26px;
}
/*.zframe-flickr-wrap-ltr img, .zframe-flickr-wrap-rtl img {
	margin-bottom: 0 !important;
}*/
.hide{
	display: none !important;
}
#city1 {
  height: 22px;
  width: 18px;
  position: absolute;
  left: 242px;
  top: 98px;
}
#city2 {
  height: 22px;
  width: 18px;
  position: absolute;
  left: 297px;
  top: 217px;
}
/*-------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------TABLETS------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:799px) {
	body{
		background: #FFFFFF;
    min-width: none;
	}
  img{
    max-width: 100% !important;
  }  
	/*Menu*/
  #mrdsite-3 #menu-main-menu a {
    padding-left: 13px !important;
    padding-right: 13px !important;
  }
  #mrdsite-3 #menu-main-menu > li:first-child > a {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
	header #header .header-top {
    	height: auto;
	}
	.container_24 .grid_15 {
	    width: auto;
	}
	.container_24 .grid_15 {
	    width: 100%;
	}
	header #header #main-menu {
		width: 56em;
	}
	header #header #menu-main-menu a {
		padding: 6px 5px;
	}
	#mrdsite-1 #menu-main-menu a {
		padding-left: 4px !important;
		padding-right: 4px !important;
	}	
	/*Top links*/
  .container_24 .grid_11 {
    width: 21.791667em;
  }  
  .container_24 .grid_13 {
    width: 32.291667em;
  }
  .box_follow { 
  width: 160px;
  }
	header #header .language-box {
	    width: 100%;
	}
	header #header .print-box .separator{
		display: none;
	}
  #city1 {
    left: 434px;
    top: 58px;
  }
  #city2 {
    left: 492px;
    top: 179px;
  }  
/*	header #header .widget-header-right form p {
		float: none;
	}	
	header #header .widget-header-right .sidebar_login_links {
		text-align: left;
	}*/
	/*Login*/
/*	header #header .widget-header-right:first-child {
		float: right;
	}
	header #header .widget-header-right {
		width: 12em;
	}	
	header #header .header-middle .box_formlogin {
	}	
	header #header .widget-header-right form p {
		margin: 0 7px 0.2em 0;
	}
	/*Follow us*/
	/*.box_follow, .box_search {
		display: none;
	}
	header #header .header-bottom {
		margin-top: 0px;
    border-bottom: 2px solid #176770;
	}*/
  .box_search{
    margin-left: 0;
  }

	/*Image Slider*/
	#home-top-left-container {
		margin: 30px 200px;
	}
	/*Map*/
	.container_24 .grid_16 {
		/*padding-left: 82px;*/
		width: 100%;
	}
	#map-zones {
		height: auto;
		width: 100%;
	}
	#map-zones #map {
		border-right: none;
		border-bottom: 1px solid #C4C9C5;
	    border-right: none;
	    float: none;
	    height: 240px;
	    width: inherit;
	}	
	#map-zones #text {
	    height: auto;
	    width: auto;
	}	
	/*News*/
	#home-page-left {
		padding-left: 20px;
	}
	.grid_12.alpha.extend {
		width: 53em;
	}	
	/*Statistics image*/
	#home-page-left .statistics {
		padding-left: 120px;
	}	
	/*Picture and text box*/
	.grid_12.omega.extend {
		width: 55em;
	}
	#home-page-right-top {
		margin-top: 20px;
	}	
	#home-page-right-top ul li .more a {
		width: 29em;
	}
	#home-page-right-top ul li {
		width: 52em;
	}
	/*Tweets*/
	.container_24 .grid_5 {
    	width: auto;
	}
	.container_24 .suffix_1.alpha {
		margin: 0 40px 20px;
	}
	.container_24 .suffix_1 {
		margin: 0 45px 20px;
	}
	/*Logo Banners*/
	#homepage-banners {
		display: none;
	}
	/*Footer*/
	footer ul.menu {
		padding-left: 20px;
	}
	.grid_7.push_5.omega {
	    display: none;
	}	
}

/*-------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------MOBILE-------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:500px) {
	body{
    width: 100%;
	}
	.container_24 {
    width: 100%;
	}	
  header #header .header-top .alpha {
    display: none;
  }
	.container_24 .grid_13 {
		width: 31.291667em;
	}
	header #header .header-middle .box_formlogin {
		display: none;
	}
  .box_follow {
    display: block;
    position: relative;
    bottom: 2px;
    left: 96px;
  } 
  .box_follow h2{
    display: none;
  }
  .box_search{
    display: block;
    position: relative;
    top: 33px;
    left: 280px;
  }
  .box_search input[type="text"] {
      width: 9em;
  }  
	header #header #main-menu {
		width: auto;
	}
  header #header .header-bottom {
   margin-top: 0px;
  }  
	header #header #main-menu {
		display: none;
		height: 100%;
		background-image:none;
		left: 3px;
		/*margin-top:2px;*/
    border-top: 2px solid #176770;
		padding: 0px;
		top: 0px;
		width:98%;
	}
	/*MENU*/
	#menu-wrap{
		background-color: #00b7c5;
	}	
	header #header .header-middle {
    	height: 139px;
	}
	#menu-trigger {
		display: inline-block;
		width: 100px;
		cursor: pointer;
		background: #fad900;
		text-align: center;
		line-height: 45px;
		margin-left: 3px;
		width: 30%;
	}
	#menu-main-menu > li:first-child > a{
		/*padding: 0 !important;*/
	}
	header #header #menu-main-menu li.hover > a {
	  background: #fbc900;
	}
	
	header #header #menu-main-menu li li.hover > a {
	  background: #f8f5e5;
	}
	header #header #menu-main-menu{
		display: block;
		width: 100%;
	}
	header #header #menu-main-menu li{
		border-top: 1px solid  #00B7C6;
	}
	header #header #menu-main-menu li a, header #header #menu-main-menu li{
		float: none;
		/*width: 100%;*/
		display: block;
		background-color: #fad900;
		text-align: left;
	}
	header #header #menu-main-menu ul{
		border:none;
	}
	header #header #menu-main-menu li.hover > ul {
		border-top: 1px solid  #00B7C6;
	}
	header #header #menu-main-menu li a{
		/*border-left: 1px solid #BFAE0F;
		border-right: 1px solid #BFAE0F;
		border-bottom: 1px solid #BFAE0F;*/
		border-left:none;
		border-right: none;
	}
	header #header #menu-main-menu li li a {
	    display: block;
	    background: #f6efc1;
	    position: relative;
	    z-index:100;
	    height: 25px;
		width:auto;
	}
	header #header #menu-main-menu li li li a {
	    background:#f8f5e5;
	    z-index:200;
	    height: 25px;
	}	
	header #header #menu-main-menu li .more-link {
		background-image: url("images/downArrow-black.png");
		background-repeat: no-repeat;
		background-position: 60% 50%;
		float: right;
		/*width: 20%;*/
		border-left: 1px solid #00B7C6;
		padding: 8px 15px;
		margin: 2px 5px 2px 0px;
		cursor: pointer;
		z-index: 200;
		position: relative;
	}
	header #header #menu-main-menu > li.hover > ul , header #header #menu-main-menu li li.hover ul {
        position: static;
    }
  #city1 {
    left: 260px;
  }
  #city2 {
    left: 317px;
  }
  .statistics, #vslider_options{
    width: 100% !important;
  }
	.container_24 .grid_8 {
		width: 32em;
	}	
	#home-top-left-container{
		margin: 30px 72px;
	}
	.grid_12.alpha.extend {
		width: 32em;
	}
	#home-page-left .statistics {
		padding-left: 0px;
	}
	.grid_12.omega.extend {
		width: 32em;
	}
	#home-page-right-top ul li .more a {
		width: 15.8em;
	}	
	#home-page-right-top ul li {
		width: 31em;
	}	
	#home-page-right-top {
		height: 205px;
	}
	#home-page-left {
		padding-left: 0;
	}	
	#home-page-right-top ul li {
		height: 87px;
		padding: 6px;
	}
	.container_24 .grid_24 {
		width: 31.958333em;
	}
	.container_24 .push_5 {
		left: 0;
	}
	#xmt_Primary_wid.xmt ul li.tweet_list {
		margin-bottom: 20px !important;
	}
	.zframe-flickr-wrap-ltr {
		padding: 10px 0 0 16px;
	}	
	footer {
		width: 32em;
	}
  #menu-footer-menu li{
    display: inline;
    width: 100%;
    text-align: left;
  }
}
@media screen and (max-width:400px) {
	body{
		/*min-width: 320px;*/
	}
  .print-box a {
      display: none;
  }      
	.container_24 {
		width: 320px;
	}
	.container_24 .grid_13 {
		width: 22em;
	}
	.container_24 .language{
		display: none;
	}
	.container_24 .grid_12 {
		width: 21.958333em;
	}	
	.container_24 .grid_8 {
		width: 20em;
	}	
	.container_24 .grid_16{
		/*display: none;*/
	}
  header #header .header-middle h1 {
    line-height: 15px;
  }
  header #header .header-middle h1 img {
    top: -13px;
  }  
  #city1 {
    left: 179px;
    top: 69px;
  }
  #city2 {
    left: 222px;
    top: 161px;
  }   
  .box_follow {
    bottom: 15px;
    left: 120px;
  } 
  .box_search{
    top: 48px;
    left: 142px;
  }  
  header #header .header-middle h1 {
      padding: 16px 0 41px 120px;
  }  
	#home-top-left-container{
		margin: 20px 0px;
	}
	.grid_12.alpha.extend {
		width: 22em;
	}
	#content .latest-news .news .news-content p {
		font-size: 14px;
		height: 36px;
		line-height: 16px;
		margin: 0;
		display: inline;
	}
	#home-page-left {
    	height: auto;
	}
	#home-page-left .statistics {
		display: none;
	}	
	#home-page-left .statistics {
		padding-left: 0px;
	}
	.grid_12.omega.extend {
		width: 22em;
	}
	#home-page-right-top ul li .more a {
		width: 7.8em;
	}	
	#home-page-right-top ul li {
		width: 21em;
	}	
	#home-page-right-top {
		height: 205px;
	}
	#home-page-left {
		padding-left: 0;
	}	
	#home-page-right-top ul li {
		height: 87px;
		padding: 6px;
	}
	#home-page-right-top ul li .more a {
		width: 13.2em;
		font-size: 12px;
	}	
	.container_24 .grid_24 {
		width: 22em;
	}
	.container_24 .push_5 {
		left: 0;
	}
	#xmt_Primary_wid.xmt ul li.tweet_list {
		margin-bottom: 20px !important;
	}
	.zframe-flickr-wrap-ltr {
		padding: 10px 0 0 16px;
	}
	.zframe-flickr-wrap-ltr img {
		margin-top: 5px;
	}	
	footer {
		width: 22.5em;
	}
	.container_24 .grid_12 {
		width: auto;
	}
	.container_24 .grid_7 {
		width: 25.125em;
	}	
}