body{background:url("images/body-background.gif") scroll repeat-x 0 0 #ffffff;font-family:Arial,Helvetica,sans-serif;font-size:16px;}
h1,h2,h3,h4,h5,h6{font-family:Arial,Georgia,Times,"Times New Roman",serif;}
h2{font-size:20px;}
h3{font-size:17px;}
a{color:#0000cc;text-decoration:none;}a:hover{text-decoration:underline;}
header{height:200px;}header #header{}header #header .header-top{height:26px;}header #header .header-top .box_lenguage{text-align:right;}
header #header .header-top #top-menu ul{margin:0px;padding:0px;}header #header .header-top #top-menu ul li{float:left;padding-right:20px;}
header #header .header-middle{background-color:#00b7c6;border-top:2px solid #001630;float:left;height:127px;}header #header .header-middle h1{font-size:24px;height:43px;letter-spacing:1px;line-height:20px;margin:0;padding:31px 0 41px 120px;position:relative;text-transform:uppercase;color:#fff;font-weight: bold;}header #header .header-middle h1 span{font-size:19px;}
header #header .header-middle h1 img{border:0 none;float:left;height:auto;left:-17px;max-width:100%;position:absolute;top:-8px;}
header #header .header-middle .box_formlogin{margin-top:20px;}
header #header .widget-header-right{display:inline-block;margin-left:7px;float:left;width:355px;}header #header .widget-header-right:first-child{margin-left:0;}
header #header .widget-header-right .sidebar_login_links{text-align:right;}header #header .widget-header-right .sidebar_login_links li{display:inline-block;border-right:#000 solid 1px;margin-right:10px;line-height:14px;}header #header .widget-header-right .sidebar_login_links li a{display:block;margin:0px 10px 0 0;}header #header .widget-header-right .sidebar_login_links li a:hover{color:#000;text-decoration:underline;}
header #header .widget-header-right .sidebar_login_links .logout-link,header #header .widget-header-right .sidebar_login_links .forgot-password-link{border-right:none;margin-right:0px;}header #header .widget-header-right .sidebar_login_links .logout-link a,header #header .widget-header-right .sidebar_login_links .forgot-password-link a{margin:0px;color:#fff;text-decoration:underline;}header #header .widget-header-right .sidebar_login_links .logout-link a:hover,header #header .widget-header-right .sidebar_login_links .forgot-password-link a:hover{color:#fff !important;}
header #header .widget-header-right h2{font-family:Arial,Helvetica,sans-serif;font-weight:bold;font-size:13px;padding-right:6px;padding-top:4px;float:left;color:#fff;}
header #header .widget-header-right form{float:left;}header #header .widget-header-right form .login-remember,header #header .widget-header-right form label{display:none;}
header #header .widget-header-right form p{float:left;margin:0 7px 0 0;}header #header .widget-header-right form p:last-child{margin:0;}
header #header .widget-header-right form p input{display:block;width:109px;height:20px;}
#mrdsite-2 header #header .widget-header-right form p input[type=submit] {
  background: url("images/login-submit-button6.gif") scroll no-repeat -8px 0 #0000cc;
  width: 78px;
  text-indent: -132px;
}
#mrdsite-2 header #header .widget-header-right form p {
  float: left;
  margin: 0 2px 0 0;
}
#mrdsite-2 header #header .widget-header-right h2{
  padding-right: 1px;
}
#mrdsite-1 header #header .widget-header-right form p input[type=submit] {
  background: url("images/login-submit-button4.jpg") scroll no-repeat 0 0 #0000cc;
}
#mrdsite-3 header #header .widget-header-right form p input[type=submit] {
  background: url("images/login-submit-button5.gif") scroll no-repeat 0 0 #0000cc;
}
header #header .widget-header-right form p input[type=submit]{
	border:0 none;display:block;
	height:25px;
	margin:0;padding:0;
	text-indent:-120px;
	width:60px;
}
header #header .widget-header-right ul{margin:0;padding:0;display:inline-block;width:100%;}header #header .widget-header-right ul li{text-align:right;}header #header .widget-header-right ul li a{text-decoration:none;font-size:12px;color:#000;}header #header .widget-header-right ul li a:hover{color:#000000;}
header #header .widget-header-follow{display:inline-block;margin-left:7px;float:right;}header #header .widget-header-follow h2{font-family:Arial,Helvetica,sans-serif;font-weight:bold;font-size:13px;padding-top:4px;color:#fff;width: 185px;}
header #header .header-bottom{margin-top:2px;}
header #header #top-nav{background-color:#ffffff;}
header #header #menu-top-manu li{float:left;}
header #header #main-menu{position:relative;height:54px;background:transparent url(images/hl-main-menu-background.png) no-repeat 0 0;left:-10px;padding-left:10px;padding-right:10px;padding-top:10px;top:-32px;width:950px;}
header #header #menu-main-menu,header #header #menu-main-menu ul{margin:0;padding:0;list-style:none;}
header #header #menu-main-menu li{float:left;position:relative;}
header #header #menu-main-menu a{border-left:1px solid #fff;color:#000;float:left;padding:5px 10px 6px 10px;text-decoration:none;font-size:13px;line-height:16px;height:32px;text-align:center;color:#fff;border-top:solid 1px #fff;}
header #header #menu-main-menu>li:first-child>a{padding:6px 22px 6px 23px;}
header #header #menu-main-menu li:hover>a{color:#fff;background:#0000cc;}
header #header #menu-main-menu ul{margin:20px 0 0 0;top:44px;left:0;z-index:100;border:1px solid #000000;display:none;position:absolute;}
header #header #menu-main-menu li:hover>ul{margin:0;display:block;}
header #header #menu-main-menu ul ul{top:-1px;left:100%;margin:0 0 0 20px;}
header #header #menu-main-menu ul li{float:none;display:block;border:0;color:#0000cc;border-top:1px solid #000000;}
header #header #menu-main-menu ul li:first-child{border:none;}
header #header #menu-main-menu ul a{background:#fff;padding:10px;height:auto;width:200px;border:0 none;text-align:left;display:block;float:none;text-transform:none;}
header #header #menu-main-menu ul a:hover{background:#fff;color:#0000cc;}
header #header #menu-main-menu ul.sub-menu li a{color:#0000cc;}header #header #menu-main-menu ul.sub-menu li a:hover{background-color:#0000cc;color:#fff;}
header #header #menu-main-menu .current_page_item>a,header #header #menu-main-menu .current-menu-parent>a,header #header #menu-main-menu .current_page_parent>a,header #header #menu-main-menu .current-page-ancestor>a,header #header #menu-main-menu .current_page_ancestor>a{color:#000;background:#fff;}
header #header #menu-main-menu .current_page_item:hover>a,header #header #menu-main-menu .current-menu-parent:hover>a,header #header #menu-main-menu .current_page_parent:hover>a,header #header #menu-main-menu .current-page-ancestor:hover>a,header #header #menu-main-menu .current_page_ancestor:hover>a{color:#fff;background:#0000cc;}
header #header #menu-main-menu ul .current_page_item>a,header #header #menu-main-menu ul .current-menu-parent>a,header #header #menu-main-menu ul .current_page_parent>a,header #header #menu-main-menu ul .current-page-ancestor>a,header #header #menu-main-menu ul .current_page_ancestor>a{color:#000000;background:#fff;font-weight:bold;}
header #header #menu-main-menu ul .current_page_item:hover>a,header #header #menu-main-menu ul .current-menu-parent:hover>a,header #header #menu-main-menu ul .current_page_parent:hover>a,header #header #menu-main-menu ul .current-page-ancestor:hover>a,header #header #menu-main-menu ul .current_page_ancestor:hover>a{color:#fff;background:#0000cc;font-weight:bold;}
header #header #menu-main-menu li:hover ul .current_page_item>a,header #header #menu-main-menu li:hover ul .current-menu-parent>a,header #header #menu-main-menu li:hover ul .current_page_parent>a,header #header #menu-main-menu li:hover ul .current-page-ancestor>a{background:#fff;color:#0000cc;}
header #header #menu-main-menu li:hover ul .current_page_item>a:hover,header #header #menu-main-menu li:hover ul .current-menu-parent>a:hover,header #header #menu-main-menu li:hover ul .current_page_parent>a:hover,header #header #menu-main-menu li:hover ul .current-page-ancestor>a:hover{color:#fff;background:#0000cc;font-weight:bold;}
#mrdsite-1 #menu-main-menu a{padding-left:8px !important;padding-right:9px !important;font-size:14px !important;line-height:12px !important;}
#mrdsite-1 #menu-main-menu>li:first-child>a{padding-left:9px !important;padding-right:9px !important;}
#mrdsite-1 h2{font-size:19px;}
#mrdsite-2 #menu-main-menu a{padding-left:2px !important;padding-right:1px !important;font-size:14px !important;line-height:12px !important;}
#mrdsite-2 #menu-main-menu>li:first-child>a{padding-left:3px !important;padding-right:3px !important;}
#mrdsite-2 h2{font-size:19px;}
#mrdsite-3 #menu-main-menu a{padding-left:21px !important;padding-right:21px !important;font-size:14px !important;}
#mrdsite-3 #menu-main-menu>li:first-child>a{padding-left:11px !important;padding-right:11px !important;}
#content h2{border-bottom:1px solid #000000;padding-bottom:10px;}
#content .latest-news{float:left;}#content .latest-news .news{border-bottom:1px solid #000;min-height:97px;overflow:hidden;padding-left:59px;position:relative;}#content .latest-news .news:last-child{border-bottom:none;}
#content .latest-news .news .news-date{background-color:#0000cc;color:#fff;display:block;font-weight:bold;height:49px;left:0;line-height:21px;position:absolute;text-align:center;top:14px;width:49px;}#content .latest-news .news .news-date span{background-color:#fff;border-right:1px solid #000000;border-bottom:1px solid #000000;border-left:1px solid #000000;color:#000;display:block;font-size:20px;font-weight:normal;height:27px;line-height:28px;width:47px;}
#content .latest-news .news .news-content{min-height:77px;max-height:110px overflow: hidden;padding:10px 0;}#content .latest-news .news .news-content h3{margin-bottom:3px;}#content .latest-news .news .news-content h3 a{color:#0000cc;text-decoration:underline;}
#content .latest-news .news .news-content p{font-size:16px;height:64px;line-height:16px;margin:0;}
#content .latest-news .news .news-content .read-more{color:#0000cc;text-decoration:none;float:left;font-size:14px;}
#home-top-left-container{border:1px solid #000000;display:block;height:319px;width:308px;float:left;}
#featured-articles .item{background-color:#fff;display:block;height:297px;width:308px;}#featured-articles .item .fa-slide-images{display:block;width:308px;height:190px;}
#featured-articles .item .info{margin:0;padding:7px 7px 7px;display:block;height:86px;width:294px;overflow-y:hidden;}#featured-articles .item .info h2{border:medium none;padding:0;margin-bottom:8px;}#featured-articles .item .info h2 a{color:#0000cc;text-decoration:none;}
#featured-articles .item .info p{font-size:15px;height:auto;line-height:16px;margin:0;}#featured-articles .item .info p a{color:#0000cc;text-decoration:none;}
#nav{background-color:#fff;border-top:1px solid #000000;display:block;height:21px;width:308px;}#nav a{float:left;display:block;width:26px;height:21px;overflow:hidden;text-decoration:none;}#nav a span{display:block;height:21px;width:25px;text-indent:-100px;}#nav a span#prev{background:url("images/hl-slider-previous.png") no-repeat scroll 0 0 transparent;border-right:1px solid #000000;}
#nav a span#next{background:url("images/hl-slider-next.png") no-repeat scroll 0 0 transparent;border-left:1px solid #000000;}
#nav ul{float:left;margin:0px auto;height:16px;width:256px;padding:3px 0 2px;text-align:center;}#nav ul li{display:inline-block;width:16px;height:16px;vertical-align:top;margin-right:2px;}#nav ul li a{display:block;float:left;font-size:10px;height:16px;line-height:15px;text-align:center;text-decoration:none;width:16px;}#nav ul li a:hover{background-color:#0000cc;color:#FFFFFF;}
#nav ul li.activeSlide a{background-color:#0000cc;color:#FFFFFF;}
#map-zones{border:1px solid #000000;display:block;float:left;height:319px;width:628px;position: relative;}#map-zones #map{border-right:1px solid #000000;height:319px;width:414px;float:left;}
#map-zones #text{height:301px;width:205px;float:left;padding:18px 0px 0 8px;overflow-y:hidden;}#map-zones #text img{/*float:left;*/}
#map-zones #text .region-name{float:left;width:100%;margin:15px 0 10px;}
#map-zones #text .region-desc{float:left;}#map-zones #text .region-desc .label{font-weight:bold;}
#map-zones #text .region-desc .description{margin-left:10px;}
#map-zones h2{color:#0000cc;border:0;}
#home-page-left{display:block;height:594px;}#home-page-left h2{height:44px;line-height:44px;margin:0;padding:0;}
#home-page-left .statistics{float:left;}#home-page-left .statistics h2{margin-bottom:12px;}
#home-page-left .statistics .content-statistics #vslider_optionscontainer {border:1px solid #000000 !important;}
#home-page-right-top{border:1px solid #000000;display:block;height:182px;}#home-page-right-top ul{margin:0;padding:0;}#home-page-right-top ul li{border-bottom:1px solid #000000;display:inline-block;height:73px;margin-bottom:-8px;padding:9px;width:450px;}#home-page-right-top ul li h2{display:none;}
#home-page-right-top ul li a,#home-page-right-top ul li p{float:left;}
#home-page-right-top ul li .more a{border:0 none;font-family:Arial,Georgia,Times,"Times New Roman",serif;font-size:18px;margin:0;padding:1px 0 0 14px;width:316px;}
#home-page-right-top .textwidget{height:91px;}
#content .home-page-right-bottom h2{padding:5px 0 5px 35px;margin:0;}
.home-page-right-bottom{border:1px solid #000000;margin-bottom: 12px;}.home-page-right-bottom.top div{overflow:auto;}
.home-page-right-bottom.top h2{background-position:7px 7px;}
.home-page-right-bottom.top h3{background:transparent url(images/hl-icon-q.png) no-repeat 0 0;padding-left:28px;padding-top:4px;padding-bottom:4px;font-family:Arial,Helvetica,sans-serif;font-size:14px;}
.home-page-right-bottom.top p{background:transparent url(images/hl-icon-a.png) no-repeat 0 4px;padding-left:28px;padding-top:4px;}
.home-page-right-bottom .icon-forum{background:transparent url(images/hl-icons.png) no-repeat 0 -97px;padding-left:20px;}
.home-page-right-bottom h2{background:transparent url(images/hl-icons.png) no-repeat 7px -42px;}
.home-page-right-bottom img{float:left;margin-right:10px;margin-bottom:10px;}
.home-page-right-bottom .featured-question-content{padding:10px;overflow:auto;}
.home-page-right-bottom .featured-question-total{background-color:#fff;text-align:right;border-top:1px solid #000000;height:30px;line-height:30px;padding:0 10px;}
.margin-bottom-12{margin-bottom:12px;}
.margin-bottom-24{margin-bottom:24px;}
.tweet_area li{font-family:arial;font-size:16px;line-height:18px;}.tweet_area li a{color:#0000cc;text-decoration:none;}
.tweet_area li .tweet-date{color:#0000cc;}
footer{float:left;padding:0 0 30px;}footer ul.menu{float:left;margin:0;padding:0;}footer ul.menu>li.menu-item{color:#0000cc;float:left;line-height:18px;text-decoration:none;text-align: center;width: 96px;}footer ul.menu>li.menu-item>a{color:#0000cc;display:block;font-size:16px;max-height:35px;min-height:35px;overflow:hidden;text-decoration:none;}
footer ul.menu>li.menu-item ul.sub-menu{line-height:18px;list-style:none outside none;padding:0;}footer ul.menu>li.menu-item ul.sub-menu li{background:url("images/hl-footer-arrow-list.gif") no-repeat scroll 2px 3px #ffffff;padding-left:10px;}footer ul.menu>li.menu-item ul.sub-menu li:first-child{margin-top:10px;}
footer ul.menu>li.menu-item ul.sub-menu li a{color:#000;font-size:12px;text-decoration:none;}footer ul.menu>li.menu-item ul.sub-menu li a:hover{color:#0000cc;}
footer .footer-menu{border-top:1px solid #000000;padding-top:24px;}
footer .brand-link{border-top:1px solid #000000;font-size:12px;padding-top:12px;}footer .brand-link a{color:#989898;text-decoration:none;}
footer .brand-link div:last-child{text-align:right;}
.logged-in header #header .header-middle .box_follow{margin-top:0px;}
.logged-in header #header .header-middle .box_formlogin .widget-header-right h2{float:right;}
.logged-in header #header .header-middle .box_formlogin .widget-header-right .avatar_container{float:right;margin-right:10px;}
#homepage-banners{margin-top:10px;position:relative;width:950px !important;}#homepage-banners .nav-left,#homepage-banners .nav-right{width:28px;height:139px;border:1px solid #000;position:absolute;text-decoration:none;z-index:2;}
#homepage-banners .nav-left{top:0;left:0;background:#ffffff url(images/hl-nav-left.png) no-repeat center center;}
#homepage-banners .nav-right{top:0;right:0;background:#ffffff url(images/hl-nav-right.png) no-repeat center center;}
#homepage-banners ul{padding:7px 34px !important;border:1px solid #000;background-color:#fff;float:left;}#homepage-banners ul li{float:left;margin:0 5px;line-height:normal;width:210px;height:125px;text-align:center;}
header #header .header-middle .box_formlogin .avatar_container{
  display: none;
}
#mobile {
float: left;
margin-top: 2px;
width: 16px;
height: 22px;
}
.youtube-video div {
width: 149px;
display: inline-block;
vertical-align: top;
}
.youtube-video {
margin: 10px;
}
.home-page-right-bottom ul {
padding: 0;
}
.zframe-flickr-wrap-ltr {
padding: 18px 0 0 26px;
}
.widget_recent_entries li {
border-bottom: 1px solid #000000;
padding-bottom: 2px;
}
/*---------------------------SEARCH & SHARE----------------------------*/
header #header .screen-reader-text {
	display: none;
}
.box_search{
	float: left;
	margin-left: 120px;
}
.box_search #searchform{
	background: #FFF;
	border: 2px solid #87A9AC;
}
.box_search input[type=text]{
	border:none;
	height:22px;
	width: 130px;
	outline: 0;
	padding-left: 2px;
}
.box_search input#searchsubmit{
	background: #FFF url(images/search-icon2.jpg);
	border: none;
	height:24px;
	margin: 1px;
	text-indent:-9999px;
	width:24px;
}
.box_follow{
	float: right;
	width: 184px;
	text-align: right;
}
/*--------------------------- END SEARCH & SHARE----------------------------*/
#home-page-left .statistics li{
  list-style: none;
}
#city1 {
  height: 22px;
  width: 18px;
  position: absolute;
  left: 242px;
  top: 92px;
}
#city2 {
  height: 22px;
  width: 18px;
  position: absolute;
  left: 297px;
  top: 207px;
}
/*-------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------TABLETS------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:799px) {
	body{
		background: #FFFFFF;
	}
	/*Menu*/
  #mrdsite-3 #menu-main-menu a {
    padding-left: 13px !important;
    padding-right: 13px !important;
  }
  #mrdsite-3 #menu-main-menu > li:first-child > a {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
	header #header .header-top {
    	height: auto;
	}
	.container_24 .grid_15 {
	    width: auto;
	}
	.container_24 .grid_15 {
	    width: 100%;
	}
	header #header #main-menu {
		width: 56em;
	}
	header #header #menu-main-menu a {
		padding: 6px 5px;
	}
	#mrdsite-1 #menu-main-menu a {
		padding-left: 4px !important;
		padding-right: 4px !important;
	}	
	/*Top links*/
  .container_24 .grid_11 {
    width: 21.791667em;
  }  
  .container_24 .grid_13 {
    width: 32.291667em;
  }

	header #header .language-box {
	    width: 100%;
	}
	header #header .print-box .separator{
		display: none;
	}
  #city1 {
    left: 434px;
    top: 50px;
  }
  #city2 {
    left: 492px;
    top: 168px;
  } 
/*	header #header .widget-header-right form p {
		float: none;
	}	
	header #header .widget-header-right .sidebar_login_links {
		text-align: left;
	}
	/*Login*/
/*	header #header .widget-header-right:first-child {
		float: right;
	}
	header #header .widget-header-right {
		width: 12em;
	}	
	header #header .header-middle .box_formlogin {
	}	
	header #header .widget-header-right form p {
		margin: 0 7px 0.2em 0;
	}*/
	/*Follow us*/
/*	.box_follow, .box_search {
		display: none;
	}*/
/*	header #header .header-bottom {
		margin-top: 0px;
    border-bottom: 2px solid #176770;*/
		/*display: none;*/
	/*}*/
  .box_search{
    margin-left: 0;
  }	
	/*Image Slider*/
	#home-top-left-container {
		margin: 30px 200px;
	}
	/*Map*/
	.container_24 .grid_16 {
		/*padding-left: 82px;*/
		width: 100%;
	}
	#map-zones {
		height: auto;
		width: 100%;
	}
	#map-zones #map {
		border-right: none;
		border-bottom: 1px solid #C4C9C5;
	    border-right: none;
	    float: none;
	    height: 240px;
	    width: inherit;
	}	
	#map-zones #text {
	    height: auto;
	    width: auto;
	}	
	/*News*/
	#home-page-left {
		padding-left: 20px;
	}
	.grid_12.alpha.extend {
		width: 53em;
	}	
	/*Statistics image*/
	#home-page-left .statistics {
		padding-left: 120px;
	}	
	/*Picture and text box*/
	.grid_12.omega.extend {
		width: 55em;
	}
	#home-page-right-top {
		margin-top: 20px;
	}	
	#home-page-right-top ul li .more a {
		width: 29em;
	}
	#home-page-right-top ul li {
		width: 52em;
	}
	/*Tweets*/
	.container_24 .grid_5 {
    	width: auto;
	}
	.container_24 .suffix_1.alpha {
		margin: 0 40px 20px;
	}
	.container_24 .suffix_1 {
		margin: 0 45px 20px;
	}
	/*Logo Banners*/
	#homepage-banners {
		display: none;
	}
	/*Footer*/
	footer ul.menu {
		padding-left: 20px;
	}
	.grid_7.push_5.omega {
	    display: none;
	}	
}

/*-------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------MOBILE-------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------*/
/*@media screen and (max-width:500px) {
	body{
		min-width: 500px;
	}
	.container_24 {
		width: 500px;
	}	
  header #header .header-top .alpha {
    display: none;
  }  
	.container_24 .grid_13 {
		width: 31.291667em;
	}
	header #header .header-middle .box_formlogin {
		display: none;
	}
  .box_follow {
    display: block;
    position: relative;
    bottom: 28px;
    left: 255px;
  } 
  .box_follow h2{
    display: none;
  }
  .box_search{
    display: block;
    position: relative;
    top: 33px;
    left: 154px;
  }
	header #header #main-menu {
		width: auto;
	}
	header #header #main-menu {
		display: none;
		height: 100%;
		background-image:none;
		left: 3px;
		/*margin-top:2px;*/
    	/*border-top: 2px solid #176770;
		padding: 0px;
		top: 0px;
		width:98%;
	}
	/*MENU*/
	/*#menu-wrap{
		background-color: #001630;
	}	
	header #header .header-middle {
    	height: 139px;
	}
	#menu-trigger {
		display: inline-block;
		width: 100px;
		cursor: pointer;
		background: #0000cc;
		text-align: center;
		line-height: 45px;
		margin-left: 3px;
		width: 30%;
		border: 1px solid #FFF;
		color: #FFF;
	}
	#menu-main-menu > li:first-child > a{
		/*padding: 0 !important;*/
	}
	/*header #header #menu-main-menu li.hover > a {
	  background: #fbc900;
	}
	
	header #header #menu-main-menu li li.hover > a {
	  background: #f8f5e5;
	}
	header #header #menu-main-menu{
		display: block;
		width: 100%;
	}
	header #header #menu-main-menu li{
		border-top: 1px solid  #00B7C6;
	}
	header #header #menu-main-menu li a, header #header #menu-main-menu li{
		float: none;
		/*width: 100%;*/
		/*display: block;
		background-color: #fad900;
		text-align: left;
	}
	header #header #menu-main-menu ul{
		border:none;
	}
	header #header #menu-main-menu li.hover > ul {
		border-top: 1px solid  #00B7C6;
	}
	header #header #menu-main-menu li a{
		/*border-left: 1px solid #BFAE0F;
		border-right: 1px solid #BFAE0F;
		border-bottom: 1px solid #BFAE0F;*/
		/*border-left:none;
		border-right: none;
	}
	header #header #menu-main-menu li li a {
	    display: block;
	    background: #f6efc1;
	    position: relative;
	    z-index:100;
	    height: 25px;
		width:auto;
	}
	header #header #menu-main-menu li li li a {
	    background:#f8f5e5;
	    z-index:200;
	    height: 25px;
	}	
	header #header #menu-main-menu li .more-link {
		background-image: url("images/downArrow-black.png");
		background-repeat: no-repeat;
		background-position: 60% 50%;
		float: right;
		/*width: 20%;*/
		/*border-left: 1px solid #00B7C6;
		padding: 8px 15px;
		margin: 2px 5px 2px 0px;
		cursor: pointer;
		z-index: 200;
		position: relative;
	}
	header #header #menu-main-menu > li.hover > ul , header #header #menu-main-menu li li.hover ul {
        position: static;
    }
	.container_24 .grid_8 {
		width: 32em;
	}	
	#home-top-left-container{
		margin: 30px 72px;
	}
	.grid_12.alpha.extend {
		width: 32em;
	}
	#home-page-left .statistics {
		padding-left: 0px;
	}
	.grid_12.omega.extend {
		width: 32em;
	}
	#home-page-right-top ul li .more a {
		width: 15.8em;
	}	
	#home-page-right-top ul li {
		width: 31em;
	}	
	#home-page-right-top {
		height: 205px;
	}
	#home-page-left {
		padding-left: 0;
	}	
	#home-page-right-top ul li {
		height: 87px;
		padding: 6px;
	}
	.container_24 .grid_24 {
		width: 31.958333em;
	}
	.container_24 .push_5 {
		left: 0;
	}
	#xmt_Primary_wid.xmt ul li.tweet_list {
		margin-bottom: 20px !important;
	}
	.zframe-flickr-wrap-ltr {
		padding: 10px 0 0 16px;
	}	
	footer {
		width: 32em;
	}	
}*/
/*@media screen and (max-width:400px) {
	body{
		min-width: 320px;
	}
	.container_24 {
		width: 320px;
	}
	  .print-box a {
	      display: none;
	  } 	
	.container_24 .grid_13 {
		width: 22em;
	}
	.container_24 .language{
		display: none;
	}
	.container_24 .grid_12 {
		width: 21.958333em;
	}	
	.container_24 .grid_8 {
		width: 20em;
	}	
	.container_24 .grid_16{
		/*display: none;*/
	/*}
  header #header .header-middle h1 {
    line-height: 15px;
  }
  header #header .header-middle h1 img {
    top: -13px;
  }  
  .box_follow {
    bottom: 15px;
    left: 120px;
  } 
  .box_search{
    top: 48px;
    left: 20px;
  }  
  header #header .header-middle h1 {
      padding: 16px 0 41px 120px;
  }  
	#home-top-left-container{
		margin: 20px 0px;
	}
	.grid_12.alpha.extend {
		width: 22em;
	}
	#content .latest-news .news .news-content p {
		font-size: 14px;
		height: 36px;
		line-height: 16px;
		margin: 0;
		display: inline;
	}
	#home-page-left {
    	height: auto;
	}
	#home-page-left .statistics {
		display: none;
	}	
	#home-page-left .statistics {
		padding-left: 0px;
	}
	.grid_12.omega.extend {
		width: 22em;
	}
	#home-page-right-top ul li .more a {
		width: 7.8em;
	}	
	#home-page-right-top ul li {
		width: 21em;
	}	
	#home-page-right-top {
		height: 205px;
	}
	#home-page-left {
		padding-left: 0;
	}	
	#home-page-right-top ul li {
		height: 87px;
		padding: 6px;
	}
	#home-page-right-top ul li .more a {
		width: 13.2em;
		font-size: 12px;
	}	
	.container_24 .grid_24 {
		width: 22em;
	}
	.container_24 .push_5 {
		left: 0;
	}
	#xmt_Primary_wid.xmt ul li.tweet_list {
		margin-bottom: 20px !important;
	}
	.zframe-flickr-wrap-ltr {
		padding: 10px 0 0 16px;
	}
	.zframe-flickr-wrap-ltr img {
		margin-top: 5px;
	}	
	footer {
		width: 22.5em;
	}
	.container_24 .grid_12 {
		width: auto;
	}
	.container_24 .grid_7 {
		width: 25.125em;
	}	
}