body {
    background: url("images/hl-body-background.gif") scroll repeat-x 0 0 #fff;
    font-family: @arial;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @georgia;
}

h2{
  font-size: 20px;
}
h3{
  font-size: 17px;
}

a{
    color: #0000cc;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}

/********************************************************
 * Header
 ********************************************************/
header {
  height: 200px;

  #header{

    .header-top{
        height: 26px;

        .box_lenguage {
            text-align: right;
        }

        #top-menu {
           ul {
            margin:0px;
			padding:0px;

            li {
                float: left;
                padding-right: 20px;
            }
        }

        }
    }

    .header-middle{
        background-color: #001630;
        border-top: 2px solid #001630;
        float: left;
        height: 127px;

        h1{
            font-size: 24px;
            height: 43px;
            letter-spacing: 1px;
            line-height: 20px;
            margin: 0;
            padding: 31px 0 41px 120px;
            position: relative;
            text-transform: uppercase;
            color: #fff;

            span{
                font-size: 19px;
            }

            img{
                border: 0 none;
                float: left;
                height: auto;
                left: -17px;
                max-width: 100%;
                position: absolute;
                top: -8px;
            }
        }

        .box_formlogin {
            margin-top: 20px;
        }

        .box_follow {
            margin-top: 18px;
        }
    }

    .widget-header-right{
        display: inline-block;
        margin-left: 7px;
        float: left;
		width:355px;


        &:first-child{
            margin-left: 0;
        }

		.sidebar_login_links{
			text-align:right;
			li{
				display:inline-block;
				border-right:#000 solid 1px;
				margin-right:10px;
				line-height:14px;
				a{
					display:block;
					margin:0px 10px 0 0;
					&:hover{
						color:#000;
						text-decoration:underline;
					}
				}
			}
			.logout-link, .forgot-password-link{
				border-right:none;
				margin-right:0px;
				a{
					margin:0px;
                    color: #fff;
                    text-decoration: underline;
                    &:hover {
                        color: #fff !important;
                    }
				}
			}
		}

        h2{
            font-family: @arial;
            font-weight: bold;
            font-size: 13px;
            padding-right: 6px;
            padding-top: 4px;
            float: left;
            color: #fff;
        }

        form {
            float: left;

            .login-remember, label{
                display: none;
            }

            p{
                float: left;
                margin: 0 7px 0 0;

                &:last-child{
                    margin: 0;
                }

                input{
                    display: block;
                    width: 109px;
                    height: 20px;
                }
                input[type=submit]{
                    background: url("images/hl-login-submit-button.gif") scroll no-repeat 0 0 #0000cc;
                    border: 0 none;
                    display: block;
                    height: 25px;
                    margin: 0;
                    padding: 0;
                    text-indent: -120px;
                    width: 60px;
                }
            }
        }

        ul{
            margin: 0;
            padding: 0;
            display: inline-block;
            width: 100%;

            li{
                text-align: right;

                a{
                    text-decoration: none;
                    font-size: 12px;
                    color: #000;

                    &:hover{
                        color: #000000;
                    }
                }
            }
        }
    }

    .widget-header-follow {
        display: inline-block;
        margin-left: 7px;
        float: right;

        h2 {
            font-family: @arial;
            font-weight: bold;
            font-size: 13px;
            padding-top: 4px;
            color: #fff;
        }
    }

    .header-bottom{
        margin-top: 2px;
    }

    #top-nav {
      background-color: #ffffff;
    }

    #menu-top-manu {
      li {
        float: left;
      }
    }

    /*nav {
      /*background-color: #fbe700;
      position: relative;

      #menu-main-menu {
        float: left;
        max-height: 44px;
        overflow: hidden;
        padding: 0;

        li {
            background-color: #FBE700;
            border-right: 1px solid #BDA60F;
            float: left;
            height: 39px;
            line-height: 16px;
            max-width: 92px;
            padding: 5px 10px 0;
            text-align: center;

            &:first-child{
                padding-left: 11px;
            }

            &:last-child{
                border: none;
                padding-right: 11px;
            }

            &.current-menu-item, &:hover{
                background-color: #fff;
            }

            a{
                color: #000;
                font-size: 13px;
                text-decoration: none;

            }

            ul.sub-menu{
                display: none;
            }
        }
      }
    }*/

    /* -----------------------------------------
       Navigation
    ----------------------------------------- */
    #main-menu{
        position: relative;
        height: 54px;
        background: transparent url(images/hl-main-menu-background.png) no-repeat 0 0;
        left: -10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        top: -10px;
        width: 950px;
    }
    #menu-main-menu, #menu-main-menu ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    //List elements
    #menu-main-menu li {
      float: left;
      position: relative;
    }

    #menu-main-menu a {
        border-left: 1px solid #fff;
        color: #000;
        float: left;
        padding: 5px 10px 6px 10px;
        text-decoration: none;
        font-size: 13px;
        line-height: 16px;
        height: 32px;
        text-align: center;
        color: #fff;
        border-top: solid 1px #fff; 
    }

    #menu-main-menu > li:first-child > a{

        padding: 6px 22px 6px 23px;
    }

    #menu-main-menu li:hover > a {
      color: #fff;
      background: #0000cc;
    }

    #menu-main-menu ul {
      margin: 20px 0 0 0;
      top: 44px;
      left: 0;
      z-index: 100;
      border: 1px solid #000000;
      display: none;
      position: absolute;
    }

    #menu-main-menu li:hover > ul {
      margin: 0;
      display: block;
    }

    #menu-main-menu ul ul {
      top: -1px;
      left: 100%;
      margin: 0 0 0 20px;
    }

    #menu-main-menu ul li {
      float: none;
      display: block;
      border: 0;
      color: #0000cc;
      border-top: 1px solid #000000;
    }

    #menu-main-menu ul li:first-child{
      border: none;
    }

    #menu-main-menu ul a {
      background: #fff;
      padding: 10px;
      height: auto;
      width: 200px;
      border: 0 none;
      text-align: left;
      display: block;
      float: none;
      text-transform: none;
    }

    #menu-main-menu ul a:hover {
      background: #fff;
      color: #0000cc;
    }

    #menu-main-menu ul.sub-menu li a {
        color: #0000cc;

        &:hover {
            background-color: #0000cc;
            color: #fff;
        }
    }



    // Active
    #menu-main-menu{
        .current_page_item > a,
        .current-menu-parent > a,
        .current_page_parent > a,
        .current-page-ancestor > a,
        .current_page_ancestor > a{
          color: #000;
          background: #fff;
        }

        .current_page_item:hover > a,
        .current-menu-parent:hover > a,
        .current_page_parent:hover > a,
        .current-page-ancestor:hover > a,
        .current_page_ancestor:hover > a{
          color: #fff;
          background: #0000cc;
        }

        ul{
            .current_page_item > a,
            .current-menu-parent > a,
            .current_page_parent > a,
            .current-page-ancestor > a,
            .current_page_ancestor > a{
              color: #000000;
              background: #fff;
              font-weight: bold;
            }

            .current_page_item:hover > a,
            .current-menu-parent:hover > a,
            .current_page_parent:hover > a,
            .current-page-ancestor:hover > a,
            .current_page_ancestor:hover > a {
              color: #fff;
              background: #0000cc;
              font-weight: bold;
            }
        }


      li:hover ul .current_page_item > a,
      li:hover ul .current-menu-parent > a,
      li:hover ul .current_page_parent > a,
      li:hover ul .current-page-ancestor > a{
        background: #fff;
        color: #0000cc;
      }

      li:hover ul .current_page_item > a:hover,
      li:hover ul .current-menu-parent > a:hover,
      li:hover ul .current_page_parent > a:hover,
      li:hover ul .current-page-ancestor > a:hover{
        color: #fff;
      background: #0000cc;
      font-weight: bold;
      }
    }
  }
}
#mrdsite-1 {
    #menu-main-menu a {
        padding-left: 16px !important;
        padding-right: 16px !important;
        font-size: 12px !important;
        line-height: 12px !important;
    }
    #menu-main-menu > li:first-child > a {
        padding-left: 18px !important;
        padding-right: 18px !important;
    }
	h2 {
		font-size: 19px;
	}
}
#mrdsite-2 {
    #menu-main-menu a {
        padding-left: 7px !important;
        padding-right: 7px !important;
        font-size: 12px !important;
        line-height: 12px !important;
    }
    #menu-main-menu > li:first-child > a {
        padding-left: 13px !important;
        padding-right: 14px !important;
    }
	h2 {
		font-size: 19px;
	}
}
#mrdsite-3 {
    #menu-main-menu a {
        padding-left: 23px !important;
        padding-right: 23px !important;
    }
    #menu-main-menu > li:first-child > a {
        padding-left: 23px !important;
        padding-right: 24px !important;
    }
}
/********************************************************
 * Content
 ********************************************************/
#content {
    h2 {
        border-bottom: 1px solid #000000;
        padding-bottom: 10px;
    }

    .latest-news {
        float: left;

        .news {
          border-bottom: 1px solid #000;
          min-height: 97px;
          overflow: hidden;
          padding-left: 59px;
          position: relative;

          &:last-child {
            border-bottom: none;
          }

          .news-date{
            background-color: #0000cc;
            color: #fff;
            display: block;
            font-weight: bold;
            height: 49px;
            left: 0;
            line-height: 21px;
            position: absolute;
            text-align: center;
            top: 14px;
            width: 49px;

            span{
                background-color: #fff;
                border-right: 1px solid @border-color-hl;
                border-bottom: 1px solid @border-color-hl;
                border-left: 1px solid @border-color-hl;
                color: #000;
                display: block;
                font-size: 20px;
                font-weight: normal;
                height: 27px;
                line-height: 28px;
                width: 47px;
            }
          }

          .news-content {
            min-height: 77px;
			max-height: 110px
            overflow: hidden;
            padding: 10px 0;

            h3 {
                margin-bottom: 3px;

                a{
                    color: #0000cc;
                    text-decoration: underline;
                }
            }

            p{
                font-size: 14px;
                height: 36px;
                line-height: 16px;
                margin: 0;
            }

            .read-more{
                color: #0000cc;
                text-decoration: none;
                float: left;
                font-size: 14px;
            }
          }
        }
    }
}

/********************************************************
 * Featured Articles Slider in HomePage
 ********************************************************/
#home-top-left-container {
  border: 1px solid @border-color-hl;
  display: block;
  height: 319px;
  width: 308px;
  float: left;
}

#featured-articles {
  .item{
    background-color: #fff;
    display: block;
    height: 297px;
    width: 308px;

    .fa-slide-images {
      display: block;
      width: 308px;
      height: 190px;
    }

    .info {
      margin: 0;
	  padding: 14px 7px 7px;
      display: block;
      height: 86px;
      width: 294px;
      overflow-y: hidden;
      /*overflow: auto;*/

      h2 {
        border: medium none;
        padding: 0;
        margin-bottom: 8px;


        a {
            color: #0000cc;
            text-decoration: none;
            /*text-transform: capitalize;*/
        }
      }

      p {
        font-size: 15px;
        height: auto;
        line-height: 16px;
        margin: 0;

        a{
            color: #0000cc;
            text-decoration: none;
        }
      }
    }
  }
}

#nav {
    background-color: #fff;
    border-top: 1px solid @border-color-hl;
    display: block;
    height: 21px;
    width: 308px;

    a{
        float: left;
        display: block;
        width: 26px;
        height: 21px;
        overflow: hidden;
        text-decoration: none;

        span{
            display: block;
            height: 21px;
            width: 25px;
            text-indent: -100px;

            &#prev{
                background: url("images/hl-slider-previous.png") no-repeat scroll 0 0 transparent;
                border-right: 1px solid @border-color-hl;
            }

            &#next{
                background: url("images/hl-slider-next.png") no-repeat scroll 0 0 transparent;
                border-left: 1px solid @border-color-hl;
            }
        }
    }

    ul{
        float: left;
        margin: 0px auto;
        height: 16px;
        width: 256px;
        padding: 3px 0 2px;
        text-align: center;

        li {
            display: inline-block;
            width: 16px;
            height: 16px;
            vertical-align: top;
            margin-right: 2px;

            a {
                display: block;
                float: left;
                font-size: 10px;
                height: 16px;
                line-height: 15px;
                text-align: center;
                text-decoration: none;
                width: 16px;

                &:hover {
                  background-color: #0000cc;
                  color: #FFFFFF;
                }
            }
            &.activeSlide a{
                background-color: #0000cc;
                color: #FFFFFF;
            }
        }
    }
}

#map-zones{
    //background: url("images/hl-map-zones.png") scroll no-repeat 0 0 transparent;
    border: 1px solid @border-color-hl;
    display: block;
    float: left;
    height: 319px;
    width: 628px;

    #map {
        border-right: 1px solid @border-color-hl;
    	height: 319px;
    	width: 414px;
    	float: left;
    }

    #text {
    	height: 301px;
    	width: 188px;
    	float: left;
    	padding: 18px 10px 0 15px;
		/*overflow: auto;*/
        overflow-y: hidden;

        img {
            float: left;
        }

        .region-name {
            float: left;
            width: 100%;
            margin: 15px 0 10px;
        }

        .region-desc {
            float: left;

            .label {
                font-weight: bold;
            }
            .description {
                margin-left: 10px;
            }
        }
    }

    h2 {
       color: #0000cc;
       border: 0;
    }
}

#home-page-left{
    display: block;
    height: 594px;

    h2{
        height: 44px;
        line-height: 44px;
        margin: 0;
        padding: 0;
    }

    .statistics{
        float: left;

        h2{
            margin-bottom: 12px;
        }

        .content-statistics{
            border: 1px solid @border-color-hl;
            /*background: url("images/hl-statistics.png") scroll no-repeat 0 0 transparent;*/
            display: block;
            height: 296px;
            width: 468px;
        }
    }
}

#home-page-right-top {
    border: 1px solid @border-color-hl;
    display: block;
    height: 182px;

    ul {
        margin: 0;
        padding: 0;

        li {
            border-bottom: 1px solid @border-color-hl;
            display: inline-block;
            height: 73px;
            margin-bottom: -8px;
            padding: 9px;
            width: 450px;

            /*h2 {
                color: #0000cc;
                border: 0 none;
                float: right;
                font-size: 18px;
                margin: 0;
                padding: 15px 0 0 14px;
                width: 316px;
            }*/
            h2 {
                display: none;
            }

            a, p {
                float: left;
            }

            .more {
                a {
                    border: 0 none;
                    font-family: @georgia;
                    font-size: 18px;
                    margin: 0;
                    padding: 1px 0 0 14px;
                    width: 316px;
                }
            }
        }
    }

    .textwidget{
        height: 91px;
    }
}
#content .home-page-right-bottom h2{
    padding: 5px 0 5px 35px;
    margin: 0;
}
.home-page-right-bottom{
    border: 1px solid @border-color-hl;
    //height: 183px;

    &.top{
        //height: 219px;

        div{
            overflow: auto;
        }

        h2{
            background-position: 7px 7px;
        }

        h3{
            background: transparent url(images/hl-icon-q.png) no-repeat 0 0;
            padding-left: 28px;
            padding-top: 4px;
            padding-bottom: 4px;
            font-family: @arial;
            font-size: 14px;
        }

        p{
            background: transparent url(images/hl-icon-a.png) no-repeat 0 4px;
            padding-left: 28px;
            padding-top: 4px;
        }
    }

    .icon-forum{
        background: transparent url(images/hl-icons.png) no-repeat 0 -97px;
        padding-left: 20px;
    }

    h2{
        background: transparent url(images/hl-icons.png) no-repeat 7px -42px;
    }

    img{
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .featured-question-content{
        //height: 168px;
        padding: 10px;
        overflow: auto;
    }
    .featured-question-total{
        background-color: #fff;
        text-align: right;
        border-top: 1px solid @border-color-hl;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
    }
}

.margin-bottom-12{
    margin-bottom: 12px;
}

.margin-bottom-24{
    margin-bottom: 24px;
}


/********************************************************
 * Twitter Feeds
 ********************************************************/

.tweet_area{
    li{
        font-family: arial;
        font-size: 12px;
        line-height: 18px;

        a{
            color: #0000cc;
            text-decoration: none;
        }

        .tweet-date{
            color: #0000cc;
        }
    }
}

/********************************************************
 * Footer
 ********************************************************/
footer {
    float: left;
    padding: 0 0 30px;

    ul.menu{

        float: left;
        margin: 0;
        padding: 0;

        >li.menu-item{
            color: #0000cc;
            float: left;
            line-height: 18px;
            text-decoration: none;

            /*&:first-child, &:last-child{
                display: none;
            }*/

            >a{
                color: #0000cc;
                display: block;
                font-size: 14px;
                max-height: 35px;
                min-height: 35px;
                overflow: hidden;
                text-decoration: none;
            }

            ul.sub-menu{
                line-height: 18px;
                list-style: none outside none;
                padding: 0;

                li{
                    background: url("images/hl-footer-arrow-list.gif") no-repeat scroll 2px 3px #FFFFFF;
                    padding-left: 10px;

                    &:first-child{
                        margin-top: 10px;
                    }

                    a{
                        color: #000;
                        font-size: 12px;
                        text-decoration: none;
                        &:hover{
                            color: #0000cc;
                        }
                    }

                }
            }
        }
    }

    .footer-menu{
        border-top: 1px solid @border-color-hl;
        padding-top: 24px;
    }

    .brand-link{
        border-top: 1px solid @border-color-hl;
        font-size: 12px;
        padding-top: 12px;

        a{
            color: #989898;
            text-decoration: none;
        }

        div:last-child{
            text-align: right;
        }
    }

    /*nav {
      #menu-main-menu-main-menu-1 {
        >.menu-item {
          font-family: @georgia;

          &:first-child, &:last-child {
            display: none;
          }
        }
      }
    }*/
}
.logged-in{
	header{
		#header{
			.header-middle{
				.box_follow{
					margin-top:0px;
				}
				.box_formlogin{
					.widget-header-right{
						h2{
							float:right;
						}
						.avatar_container{
							float:right;
							margin-right:10px;
						}
					}
				}
			}
		}
	}
}

#homepage-banners {
    margin-top: 10px;
    position: relative;
    width: 950px !important;

    .nav-left, .nav-right{
        width: 28px;
        height: 139px;
        border: 1px solid #000;
        position: absolute;
        text-decoration: none;
        z-index: 2;
    }

    .nav-left{
        top: 0;
        left: 0;
        background: #fff url(images/hl-nav-left.png) no-repeat center center;
    }

    .nav-right{
        top: 0;
        right: 0;
        background: #fff url(images/hl-nav-right.png) no-repeat center center;
    }

    ul {
        padding: 7px 34px !important;
        border: 1px solid #000;
        background-color: #fff;
        float: left;

        li {
            float: left;
            margin: 0 5px;
            line-height: normal;
            width: 210px;
            height: 125px;
            text-align: center;
        }
    }
}