@georgia: Georgia, Times, "Times New Roman", serif;
@arial: Arial, "Helvetica Neue", Helvetica, sans-serif;

@featured-articles-border-color: #C4C9C5;
@border-color-hl: #000000;

//Rounded corners
.rounded (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
  -moz-background-clip: padding; 
  -webkit-background-clip: padding-box; 
  background-clip: padding-box; 
}