.RoleColorRow {
    float: left;
}
.Role_33 {
    background-color: #ffe3c1 !important;
}
.Role_34 {
    background-color: #d5ffc0 !important;
}
.Role_34 {
    background-color: #c1ffef !important;
}
.Role_35 {
    background-color: #c1eafe !important;
}
.Role_36 {
    background-color: #c2d0ff !important;
}
.Role_37 {
    background-color: #e3e7f0 !important;
}
.Role_38 {
    background-color: #ffc1c2 !important;
}
.Role_39 {
    background-color: #ff4b6e !important;
}